<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>微信</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
</head>

<body ontouchstart="">
    <div class="wx_container">
        <%-dom %>
    </div>
</body>
<script src="/javascripts/jquery-3.0.0.min.js"></script>
<script>
    $(document).ready(function () {

    })

</script>

</html>