<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>微信</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
</head>

<body ontouchstart="">
    <div class="wx_container">
        <img src="/avatar/Course_1.png" style="height:100%;width:100%" />
        <%-dom %>
        <!-- <a class="btn" href="/view">
            <img src="/avatar/button_login.png" style="height: 20%;width: 20%;padding-left: 40%;" />
        </a> -->
    </div>
</body>
<script src="/javascripts/jquery-3.0.0.min.js"></script>
<script>
    $(document).ready(function () {

    })

</script>

</html>