<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>微信</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/coursemenu.css">
</head>

<body ontouchstart="">
    <div class="wx_container">
        <img src="/avatar/Coursemenu_1.png" style="height:100%;width:100%" />
        <div class="section" style="display: flex;align-items: center;">
            <div class="left" class="box">
                <a href="/view/chapter?chapter=1&page=1" class="image">
                    <img src="/avatar/1.png" class="imageDetail" />
                </a>
                <a href="/view/chapter?chapter=1&page=4" class="image">                        
                    <img src="/avatar/4.png" class="imageDetail" />
                </a>
                <a href="/view/chapter?chapter=1&page=6" class="image">   
                    <img src="/avatar/6.png" class="imageDetail" />
                </a>
            </div>
            <div class="middle" class="box">
                <a href="/view/chapter?chapter=1&page=2" class="image">   
                    <img src="/avatar/2.png" class="imageDetail" />
                </a>
                <a href="/view/chapter?chapter=1&page=7" class="image">   
                    <img src="/avatar/7.png" class="imageDetail" />
                </a>
            </div>
            <div class="right" class="box">
                <a href="/view/chapter?chapter=1&page=3" class="image">   
                    <img src="/avatar/3.png" class="imageDetail" />
                </a>
                <a href="/view/chapter?chapter=1&page=5" class="image">   
                    <img src="/avatar/5.png" class="imageDetail" />
                </a>
                <a href="/view/chapter?chapter=1&page=8" class="image">   
                    <img src="/avatar/8.png" class="imageDetail" />
                </a>
            </div>
        </div>
        <img src="/avatar/Coursemenu_2.png" style="height:100%;width:100%" />
        <div class="section" style="display: flex;align-items: center;">
                <div class="left" class="box">
                        <a href="/view/chapter?chapter=1&page=9" class="image">
                            <img src="/avatar/9.png" class="imageDetail" />
                        </a>
                        <a href="/view/chapter?chapter=1&page=12" class="image">                        
                            <img src="/avatar/12.png" class="imageDetail" />
                        </a>
                        <a href="/view/chapter?chapter=1&page=14" class="image">   
                            <img src="/avatar/14.png" class="imageDetail" />
                        </a>
                    </div>
                    <div class="middle" class="box">
                        <a href="/view/chapter?chapter=1&page=10" class="image">   
                            <img src="/avatar/10.png" class="imageDetail" />
                        </a>
                        <a href="/view/chapter?chapter=1&page=15" class="image">   
                            <img src="/avatar/15.png" class="imageDetail" />
                        </a>
                    </div>
                    <div class="right" class="box">
                        <a href="/view/chapter?chapter=1&page=11" class="image">   
                            <img src="/avatar/11.png" class="imageDetail" />
                        </a>
                        <a href="/view/chapter?chapter=1&page=13" class="image">   
                            <img src="/avatar/13.png" class="imageDetail" />
                        </a>
                        <a href="#" class="image">   
                            <img src="/avatar/16.png" class="imageDetail" />
                        </a>
                    </div>
        </div>
        <!-- <a class="btn" href="/view/coursemenu?chapter=1">
            <img src="/avatar/Course_1.png" style="height:100%;width:100%" />
        </a>
        <img src="/avatar/Course_2.png" style="height:100%;width:100%" />
        <img src="/avatar/Course_3.png" style="height:100%;width:100%" />
        <img src="/avatar/Course_4.png" style="height:100%;width:100%" />
        <img src="/avatar/Course_5.png" style="height:100%;width:100%" /> -->
        <!-- <a class="btn" href="/view">
            <img src="/avatar/button_login.png" style="height: 20%;width: 20%;padding-left: 40%;" />
        </a> -->
    </div>
</body>
<script src="/javascripts/jquery-3.0.0.min.js"></script>
<script>
    $(document).ready(function () {

    })

</script>

</html>