<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>擎光信息-小程序开发等</title>
    <meta name="description" content="擎光信息有限公司致力于上海的技术研发,是全网价值开发服务商（官网搭建、平台开发、APP开发、微信开发、微信代运营、微信小程序、H5）">
    <meta name="Keywords" content="擎光信息有限公司、网站建设、APP开发、微信公众号、微信开发、微信代运营、微信小程序">
    <meta name="author" content="擎光信息有限公司">
    <link href="/stylesheets/new_common.css" rel="stylesheet" type="text/css">
    <!-- <link href="/stylesheets/index_agent.css" rel="stylesheet" type="text/css"> -->
    <link href="/stylesheets/Main.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
</head>

<body>

    <div class="wrap">
        <!-- head头部导航 -->
        <div class="head-nav" id="header">
            <div class="nav-cotar hf cfa">
                <div class="logo-box fp lfp">
                    <!-- <img src="/img/logo-green.png" style=" width: 0; height: 0; overflow: hidden; display: block; visibility: hidden; "> -->
                    <p style=" width: 0; height: 0; overflow: hidden; display: block; visibility: hidden; ">擎光信息科技</p>
                </div>
                <div class="nav-box  fp rfp">
                    <a href="/" class="item ">首页</a>
                    <a href="#" class="item server">服务
                        <div class="subTitleBox">
                            <p class="subTitle aa">微信公众号开发</p>
                            <p class="subTitle bb">小程序开发</p>
                            <p class="subTitle cc">公众号代运营</p>
                            <p class="subTitle dd">PC端网站制作</p>
                        </div>
                    </a>
                    <a href="/case" class="item ">案例</a>
                    <a href="/price" class="item ">资费</a>
                    <a href="/join" class="item active">加盟</a>

                    <a href="tel:021-60504342" class="item link-phone ic-linkphone">
                        <span>021-60504342</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="proxy_banner">
        </div>
        <div class="box">
            <div class="main_agency">
                <div class="item item_green" data-scroll-reveal="enter top" data-scroll-reveal-id="1" style="padding-top: 20px;-webkit-transform: translatey(-24px);transform: translatey(-24px);opacity: 1;-webkit-transition: -webkit-transform 0.66s ease-in-out 0s,  opacity 0.66s ease-in-out 0s;transition: transform 0.66s ease-in-out 0s,  opacity 0.66s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;"
                    data-scroll-reveal-initialized="true">
                    <div class="title">
                        <i>
                            <em>01</em>
                        </i>
                        <h1>The agent qualification
                            <br>
                            <em>加盟条件</em>
                        </h1>
                    </div>

                    <p>
                        <em>1、普通代理
                            <br>
                        </em>
                        <em>条件一：</em>
                        能够独立承担民事责任的自然人，遵守双方承诺、约定或协议；
                        <br>
                        <em>条件二：</em>
                        有互联网相关从业经验，能较快掌握公司全部产品
                        <br>
                        <em>条件三：</em>
                        有充足的空闲时间从事业务拓展工作
                        <br>
                        <br>

                        <em>2、区域独家代理
                            <br>
                        </em>

                        <em>条件一：</em>
                        工商合法注册，能够独立承担民事责任，遵守双方承诺、约定或协议；
                        <br>
                        <em>条件二：</em>
                        有完善的运营团队，能够为客户提供产品售后指导服务
                        <br>
                        <em>条件三：</em>
                        在本地区有一定的客户资源
                        <br>
                        <em>条件四：</em>
                        能完成规定的任务考核
                        <br>




                    </p>
                </div>
                <div class="item item_blue" data-scroll-reveal="enter top" data-scroll-reveal-id="2" style="-webkit-transform: translatey(-24px);transform: translatey(-24px);opacity: 1;-webkit-transition: -webkit-transform 0.66s ease-in-out 0s,  opacity 0.66s ease-in-out 0s;transition: transform 0.66s ease-in-out 0s,  opacity 0.66s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;"
                    data-scroll-reveal-initialized="true">
                    <div class="title">
                        <i>
                            <em>02</em>
                        </i>
                        <h1>Support and service
                            <br>
                            <em>服务支持</em>
                        </h1>
                    </div>
                    <p>
                        拥有独立销售网站，可自主定价销售
                        <br> 根据代理级别不同给予相应折扣
                        <br> 免费提供系统操作使用的培训
                        <br> VIP客户专员提供售后对接服务
                        <br> 反馈功能建议核实后将优先开发
                        <br> 区域独家代理将获得本地区的客户资源分配
                        <br>
                    </p>
                </div>
                <div class="item item_red" data-scroll-reveal="enter top" data-scroll-reveal-id="3" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 0.66s ease-in-out 0s,  opacity 0.66s ease-in-out 0s;transition: transform 0.66s ease-in-out 0s, opacity 0.66s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;"
                    data-scroll-reveal-initialized="true">
                    <div class="title">
                        <i>
                            <em>03</em>
                        </i>
                        <h1>The agent process
                            <br>
                            <em>代理商签约流程</em>
                        </h1>
                    </div>
                    <ul class="flow">

                        <img src="/img/liuchengtu.png">
                    </ul>
                </div>

            </div>
        </div>

        <div class="blank_100"></div>
        <!-- <script charset="UTF-8" src="/img/QiMoIMSDK.js"></script> -->
        <!-- <script charset="utf-8" src="/javascripts/v.js"></script> -->
        <script charset="UTF-8" src="/javascripts/json2.js"></script>
        <!-- <script src="/img/hm.js"></script> -->
        <!-- <script type="text/javascript">    function upInfo(data) {
            var page = window.location.href;
            $.post('/stat/event', {
                category: "联系",
                client: 'pc',
                action: data,
                page: page
            }, function () {

            })
        }
    </script> -->
        <!-- 侧栏 -->
        <div class="side-t-wrap " id="side_top " style="display: none; ">
            <div class="ic-box t-top " id="arr_top "></div>
            <a class="ic-box t-qq " target="_blank " href="http://wpa.qq.com/msgrd?v=3&amp;uin=3229113314&amp;site=qq&amp;menu=yes ">
            </a>
            <div class="ic-box t-phone ">
                <div class="pop-box-wrap ">
                    <div class="pop-box phone-box ">TEL：021-60504342</div>
                </div>
            </div>

        </div>
        <!-- 底部 -->
        <div id="footer " class="footer ">
            <div class="line "></div>
            <div class="center-cotar hf ">
                <div class="content-list ">
                    <div id="footer_address_box " class="address-box hf ">
                        <div class="btn-group fp ">
                            <div class="btn mc-active active ic-address " mc-efc-btn="address1 ">
                                <span>上海</span>
                            </div>
                            <!-- <div class="btn ic-address " mc-efc-btn="address2 "><span>宁波</span></div> -->
                        </div>
                        <div class="content-item address-content fp mc-active " mc-efc-page="address1 ">
                            <div class="headline ">联系我们</div>
                            <div class="info-list ">
                                <div class="item hf ic-footer1 ">
                                    <div class="label ftp ">地址：</div>
                                    <div class="content ftp ">上海市宝山区沪太路5355弄2幢3号楼520室（绿地广场）</div>
                                </div>
                                <div class="item hf ic-footer2 ">
                                    <div class="label ftp ">电话：</div>
                                    <div class="content ftp ">021-60504342  从先生:15221879161  杨小姐:15158808506</div>
                                </div>
                                <div class="item hf ic-footer3 ">
                                    <div class="label ftp ">QQ：</div>
                                    <div class="content ftp ">3229113314</div>
                                </div>
                                <div class="item hf ic-footer4 ">
                                    <div class="label ftp ">商务合作：</div>
                                    <div class="content ftp ">3229113314@qq.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="content-item address-content fp " mc-efc-page="address2 " style="display: none; ">
                            <div class="headline ">联系我们</div>
                            <div class="info-list ">
                                <div class="item hf ic-footer1 ">
                                    <div class="label ftp ">地址：</div>
                                    <div class="content ftp ">上海市宝山区沪太路5355弄2幢3号楼520室（绿地广场）</div>
                                </div>
                                <div class="item hf ic-footer2 ">
                                    <div class="label ftp ">电话：</div>
                                    <div class="content ftp ">021-60504342  从先生:15221879161  杨小姐:15158808506</div>
                                </div>
                                <div class="item hf ic-footer3 ">
                                    <div class="label ftp ">QQ：</div>
                                    <div class="content ftp ">553206752</div>
                                </div>
                                <div class="item hf ic-footer4 ">
                                    <div class="label ftp ">商务合作：</div>
                                    <div class="content ftp ">943281721@qq.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="content-item qrcode-wrap ">
                            <div class="pic-wrap ">
                                <img src="/img/img_qr.png ">
                            </div>
                        </div>
                        <div class="content-item link-box ">
                            <div class="headline ">相关链接</div>
                            <div class="lr-box ">
                                <p class="des ">
                                    <a href="http://shop.epwk.com/4141035/ " target="_blank ">擎光店铺</a> <br>
                                    <a href="http://www.mammothcode.com/Home/Solution/2016022028fb38c3 ">微信定制</a>  <br>
                                    <a href="http://www.mammothcode.com/WorkPage/OurWork/201602205c51aab4 ">案例中心</a>
                                </p>
                                <p class="des no-mr ">
                                    <a href="http://www.mammothcode.com/WorkPage/OurInformation/20160224e3287721 ">新闻中心</a> <br>
                                    <a href="http://www.mammothcode.com/Home/AboutUs/20160220583e6dfb ">关于我们</a>
                                </p>
                            </div>
                        </div> -->

                </div>
            </div>
            <div class="bottom-cotar hf ">
                <div class="center-cotar ">
                    <p>
                        <!-- Copyright © 2016 Mammothcode All Rights Reserved 浙ICP备 15025813号-1 -->
                        <br> 本网站设计已受版权保护。任何公司及个人不得复制，违者将依法追究责任，特此声明。
                    </p>
                    <!-- <div class="link-wrap hf ">
                            <div class="item fp ">友情链接：</div>
                                    <a href="http://www.zhuta.org/ " class="item fp " target="_blank ">助他自强</a>
                                    <a href="http://www.xiuchewenwen.com/ " class="item fp " target="_blank ">修车问问</a>
                                    <a href="http://www.zjzramc.com/ " class="item fp " target="_blank ">喆融</a>
                                    <a href="http://www.hzsanshan.com/ " class="item fp " target="_blank ">三善</a>
                                    <a href="http://www.micauto.cn/ " class="item fp " target="_blank ">微动</a>
    
                            
                        </div> -->
                    <div style="width:300px;margin:0 auto;padding-top: 15px; ">
                        <!-- <a target="_blank " href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002752
                                                    " style="display:inline-block;text-decoration:none;height:20px;line-height:20px;
                                                    "><img src="/img/ghs.png " style="float:left; "><p style="float:left;height:20px;line-height:20px;margin:
                                                    0px 0px 0px 5px; color:#939393; ">浙公网安备 33010502002752号</p></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
    <script src="/javascripts/scrollReveal.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/main.js"></script> -->
    <script type="text/javascript ">
        //导航栏样式函数，判断距离顶部距离
        $(window).bind("scroll ", function () {
            var navH = $(window).scrollTop();
            var $head = $("#header ");
            var $sideTop = $(".side-t-wrap ");
            if (navH > 20) {
                $head.addClass("active ");
                $sideTop.fadeIn();
            };
            if (navH <= 20) {
                $head.removeClass("active ");
                $sideTop.fadeOut();
            };
        });

        //返回顶部
        $(".ic-box.t-top ").click(function () {
            $("body,html ").animate({ scrollTop: 0 }, 600);
        });

        $(function () {
            var page = {}; //页面对象
            page.deviceType = "PC "; //设备类型 PC 电脑端, APP 移动端, IEunder9 不支持CSS3的IE浏览器(包括IE6,7,8,9)
            //设备类型判断
            if (/ipad|iphone os|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/i.test(navigator.userAgent)) {
                page.deviceType = "APP "; //移动端
                if (/iphone os|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/i.test(navigator.userAgent)) {
                    page.deviceType = "Phone "; //手机端
                }
            } else {
                if (/(msie [6|7|8|9])/i.test(navigator.userAgent)) {
                    page.deviceType = "IEunder9 "; //IE9 以下
                } else {
                    page.deviceType = "PC "; //电脑端且支持CSS3
                }
            }

            if (page.deviceType == "IEunder9 ") {
                $("body ").addClass("ie8 ");
            }

            // 底部栏切换
            // Mc.Util.EffectChange({
            //     target: '#footer_address_box',
            //     onlyActive: true, lessOneActive: true
            // })
        });
    </script>
    <!-- qq客服js -->
    <!-- <script type="text/javascript" src="/javascripts/7moorInit.js" async="async"></script> -->

    <script src="/javascripts/common.js"></script>
    <!-- <script type="text/javascript" src="/img/online"></script> -->
</body>

</html>