<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--<meta name="page-view-size" content="1280*720">-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login_style.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <!--<a id="homepage_logo" href="#">
            <div class="logo"></div>
        </a>-->
            <img id="homepage_logo" src="img/homepage_logo.png" />
        </div>
        <div class="signcontent">
            <div class="user_signin_content">
                <h2 class="sig usersignin">Sign In</h2>
                <ul class="signinlist">
                    <li><input type="text" placeholder="PhoneNumber" class="login_phonenumber" /></li>
                    <li><input type="text" placeholder="Password" class="login_password" /></li>
                    <li><a href="javascript:void(0)" class="login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">

	</script>
</body>

</html>