<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/management.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style - all.css">
</head>

<body value="<%=type %>">
    <!-- <div id="modify">
<a href="" class="modifyInfor">Modify</a>
</div> -->
    <%-dom %>

        <script src="/javascripts/jquery-3.0.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if ($('body').attr('value') === '1') {
                    $('.left.btn.create').click(function () {
                        $('.create_container').html('');
                        $('.user_main.main').hide();
                        $('.createStar_main.main').show();
                        var jdom = $('<div class="section"><span>姓名:</span><input class="createStar" data-target="name" type="text" />'
                            + '</div><div class="section"><span>手机号:</span><input class="createStar" data-target="phoneNumber" type="text" placeholder="手机号码" />'
                            + '</div><div class="section"><span>密码:</span><input class="createStar" data-target="password" type="text" placeholder="密码" />'
                            + '</div><div class="section"><span>状态:</span><select class="createStar" data-target="status"><option value="0">正常</option>'
                            + '<option value="1">半年</option><option value="2">一年</option><option value="3">一年半</option><option value="4">两年</option>'
                            + '</select></div><button class="submitCreate" type="submit">提交</button>')
                        $('.create_container').append(jdom);
                        $('.submitCreate').click(function () {
                            var ddom = jQuery('.createStar')
                            var data = {};
                            for (var i = 0; i < ddom.length; i++) {
                                if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                    data[ddom[i].getAttribute('data-target')] = ddom[i].value
                                }
                            }
                            $.ajax({
                                url: '/management/create',
                                type: 'GET',
                                data: data,
                                dataType: 'JSON',
                                cache: false,
                                success: function (data) {
                                    if (data && data.status === 'succeed') {
                                        alert('创建成功')
                                        $('.submitCreate').unbind();
                                        $('.left.btn.create').click();
                                    }
                                    else {
                                        alert('创建失败')
                                    }
                                },
                                error: function (data) {
                                    alert('internal server error')
                                }
                            })
                        })
                    })
                    $('.left.btn.user').click(function () {
                        $('.user_container').html('');
                        $('.createStar_main.main').hide();
                        $('.user_main.main').show();
                        $.ajax({
                            url: '/api/findAllUser',
                            type: 'Get',
                            data: { terribleterribledamage: 1 },
                            dataType: 'JSON',
                            cache: false,
                            success: function (data) {
                                if (data && data.length > 0) {
                                    data.map((person, index) => {
                                        var jDom = $('<div class="section"><span>用户名:</span><input type="text" class="userinfo_' + index + '" data-target="name"/>' +
                                            '</div><div class="section"><span>userId(不可修改):</span><input type="text" class="userinfo_' + index + '" data-target="userId"/>' +
                                            '</div><div class="section"><span>手机号:</span><input type="text" class="userinfo_' + index + '" data-target="phoneNumber"/>' +
                                            '</div><div class="section"><span>注册时间:</span><input type="text" class="userinfo_' + index + '" data-target="time"/>' +
                                            '</div><div class="section"><span>密码:</span><input type="text" class="userinfo_' + index + '" data-target="password"/>' +
                                            '</div><div class="section"><span>状态:</span><select class="userinfo_' + index + '" data-target="status"><option value="0">正常</option>' +
                                            '<option value="1">半年</option><option value="2">一年</option><option value="3">一年半</option><option value="4">两年</option></select><button class="submitUserInfo_' + index + '">提交修改</button><button class="delete deleteUserinfo_' + index + '">删除用户</button></div></br>')
                                        var dom = jDom.find('.userinfo_' + index + '');
                                        for (var i = 0; i < dom.length; i++) {
                                            if (dom[i] && dom[i].getAttribute('data-target') && person[dom[i].getAttribute('data-target')]) {
                                                if (dom[i].getAttribute('data-target') === 'status') {
                                                    switch (person[dom[i].getAttribute('data-target')]) {
                                                        case '0':
                                                        default:
                                                            dom[i].selectedIndex = 0;
                                                            break;
                                                        case '1':
                                                            dom[i].selectedIndex = 1;
                                                            break;
                                                        case '2':
                                                            dom[i].selectedIndex = 2;
                                                            break;
                                                        case '3':
                                                            dom[i].selectedIndex = 3;
                                                            break;
                                                        case '4':
                                                            dom[i].selectedIndex = 4;
                                                            break;
                                                    }
                                                }
                                                else {
                                                    dom[i].value = person[dom[i].getAttribute('data-target')];
                                                }
                                            }
                                            // else if (dom[i].getAttribute('data-target') === 'height' || dom[i].getAttribute('data-target') === 'weight' || dom[i].getAttribute('data-target') === 'special') {
                                            //     dom[i].value = (person.body[dom[i].getAttribute('data-target')]);
                                            // }
                                        }
                                        jDom.find('.submitUserInfo_' + index).click(function () {
                                            var self = this;
                                            var idx = self.className.replace('submitUserInfo_', '');
                                            var ddom = $('.userinfo_' + idx);
                                            var data = {};
                                            for (var i = 0; i < ddom.length; i++) {
                                                if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                    data[ddom[i].getAttribute('data-target')] = ddom[i].value
                                                }
                                            }
                                            $.ajax({
                                                url: '/management/updateUser',
                                                type: 'GET',
                                                data: data,
                                                dataType: 'JSON',
                                                cache: false,
                                                success: function (data) {
                                                    if (data && data.status === 'succeed') {
                                                        alert('修改成功')
                                                    }
                                                    else {
                                                        alert('修改失败')
                                                    }
                                                },
                                                error: function (data) {
                                                    alert('internal server error')
                                                }
                                            })
                                        });
                                        jDom.find('.delete.deleteUserinfo_' + index).click(function () {
                                            var self = this;
                                            var idx = self.className.replace('delete deleteUserinfo_', '');
                                            var ddom = $('.userinfo_' + idx);
                                            var data = {};
                                            for (var i = 0; i < ddom.length; i++) {
                                                if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                    data[ddom[i].getAttribute('data-target')] = ddom[i].value
                                                }
                                            }
                                            $.ajax({
                                                url: '/management/deleteUser',
                                                type: 'GET',
                                                data: { userId: data.userId },
                                                dataType: 'JSON',
                                                cache: false,
                                                success: function (data) {
                                                    if (data && data.status === 'succeed') {
                                                        alert('删除成功');
                                                        $('.left.btn.user').click();
                                                    }
                                                    else {
                                                        alert('删除失败')
                                                    }
                                                },
                                                error: function (data) {
                                                    alert('nternal server error')
                                                }
                                            })
                                        });
                                        $('.user_container').append(jDom);
                                    })
                                }
                            },
                            error: function (data) {
                                alert('查询失败')
                            }
                        })
                    })

                    $('.searchStar').click(function () {
                        $('.user_container').html('');
                        $('.submitUpdate').unbind();
                        if ($('.searchInput').val() && $('.searchInput').val().length > 0) {
                            $.ajax({
                                url: '/api/findUserDetail',
                                type: 'Get',
                                data: { userName: $('.searchInput').val() },
                                dataType: 'JSON',
                                cache: false,
                                success: function (data) {
                                    if (data && data.length > 0) {
                                        data.map((person, index) => {
                                            var jDom = $('<div class="section"><span>用户名:</span><input type="text" class="userinfo_' + index + '" data-target="name"/>' +
                                                '</div><div class="section"><span>userId(不可修改):</span><input type="text" class="userinfo_' + index + '" data-target="userId"/>' +
                                                '</div><div class="section"><span>手机号:</span><input type="text" class="userinfo_' + index + '" data-target="phoneNumber"/>' +
                                                '</div><div class="section"><span>注册时间:</span><input type="text" class="userinfo_' + index + '" data-target="time"/>' +
                                                '</div><div class="section"><span>密码:</span><input type="text" class="userinfo_' + index + '" data-target="password"/>' +
                                                '</div><div class="section"><span>状态:</span><select class="userinfo_' + index + '" data-target="status"><option value="0">正常</option>' +
                                                '<option value="1">半年</option><option value="2">一年</option><option value="3">一年半</option><option value="4">两年</option></select><button class="submitUserInfo_' + index + '">提交修改</button><button class="delete deleteUserinfo_' + index + '">删除用户</button></div></br>')
                                            var dom = jDom.find('.userinfo_' + index + '');
                                            for (var i = 0; i < dom.length; i++) {
                                                if (dom[i] && dom[i].getAttribute('data-target') && person[dom[i].getAttribute('data-target')]) {
                                                    if (dom[i].getAttribute('data-target') === 'status') {
                                                        switch (person[dom[i].getAttribute('data-target')]) {
                                                            case '0':
                                                            default:
                                                                dom[i].selectedIndex = 0;
                                                                break;
                                                            case '1':
                                                                dom[i].selectedIndex = 1;
                                                                break;
                                                            case '2':
                                                                dom[i].selectedIndex = 2;
                                                                break;
                                                            case '3':
                                                                dom[i].selectedIndex = 3;
                                                                break;
                                                            case '4':
                                                                dom[i].selectedIndex = 4;
                                                                break;
                                                        }
                                                    }
                                                    else {
                                                        dom[i].value = person[dom[i].getAttribute('data-target')];
                                                    }
                                                }
                                                // else if (dom[i].getAttribute('data-target') === 'height' || dom[i].getAttribute('data-target') === 'weight' || dom[i].getAttribute('data-target') === 'special') {
                                                //     dom[i].value = (person.body[dom[i].getAttribute('data-target')]);
                                                // }
                                            }
                                            jDom.find('.submitUserInfo_' + index).click(function () {
                                                var self = this;
                                                var idx = self.className.replace('submitUserInfo_', '');
                                                var ddom = $('.userinfo_' + idx);
                                                var data = {};
                                                for (var i = 0; i < ddom.length; i++) {
                                                    if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                        data[ddom[i].getAttribute('data-target')] = ddom[i].value
                                                    }
                                                }
                                                $.ajax({
                                                    url: '/management/updateUser',
                                                    type: 'GET',
                                                    data: data,
                                                    dataType: 'JSON',
                                                    cache: false,
                                                    success: function (data) {
                                                        if (data && data.status === 'succeed') {
                                                            alert('修改成功')
                                                        }
                                                        else {
                                                            alert('修改失败')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        alert('internal server error')
                                                    }
                                                })
                                            });
                                            jDom.find('.delete.deleteUserinfo_' + index).click(function () {
                                                var self = this;
                                                var idx = self.className.replace('delete deleteUserinfo_', '');
                                                var ddom = $('.userinfo_' + idx);
                                                var data = {};
                                                for (var i = 0; i < ddom.length; i++) {
                                                    if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                        data[ddom[i].getAttribute('data-target')] = ddom[i].value
                                                    }
                                                }
                                                $.ajax({
                                                    url: '/management/deleteUser',
                                                    type: 'GET',
                                                    data: { userId: data.userId },
                                                    dataType: 'JSON',
                                                    cache: false,
                                                    success: function (data) {
                                                        if (data && data.status === 'succeed') {
                                                            alert('删除成功');
                                                            $('.left.btn.user').click();
                                                        }
                                                        else {
                                                            alert('删除失败')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        alert('nternal server error')
                                                    }
                                                })
                                            });
                                            $('.user_container').append(jDom);
                                        })
                                    }
                                },
                                error: function (data) {
                                    alert('查无此人')
                                }
                            })
                        }
                    })
                }
                else if ($('body').attr('value') === '2') {
                    $('.left.btn.itemcreate').click(function () {
                        $('.news_container').html('');
                        $('.item_container').html('');
                        $('.menu_container').html('');
                        $('.createItem_container').html('');
                        $('.createNews_container').html('');
                        $('.item_main.main').hide()
                        $('.news_main.main').hide();
                        $('.menu_main.main').hide();
                        $('.createNews_main.main').hide();
                        $('.createItem_main.main').show();
                        var jdom = $('<div class="section"><span>产品设备号(唯一):</span><input class="itemcreate" data-target="productNumber" type="text" />'
                            + '</div><div class="section"><span>产品名称:</span><input class="itemcreate" data-target="productTitle_1" type="text" />'
                            + '</div><div class="section"><span>产品名称(英文):</span><input class="itemcreate" data-target="productTitle_2" type="text" />'
                            + '</div><div class="section"><span>产品短描述:</span><input class="itemcreate" data-target="productShortDescription_1" type="text" placeholder="产品短描述" />'
                            + '</div><div class="section"><span>产品短描述(英文):</span><input class="itemcreate" data-target="productShortDescription_2" type="text" placeholder="产品短描述" />'
                            + '</div><div class="section"><span>产品描述:</span><input class="itemcreate" data-target="productDescription_1" type="text" placeholder="产品描述" />'
                            + '</div><div class="section"><span>产品描述(英文):</span><input class="itemcreate" data-target="productDescription_2" type="text" placeholder="产品描述" />'
                            + '</div><div class="section"><span>产品长描述上方:</span><textarea class="itemcreate" data-target="productLongDescriptionTop_1" type="text"></textarea>'
                            + '</div><div class="section"><span>产品长描述上方(英文):</span><textarea class="itemcreate" data-target="productLongDescriptionTop_2" type="text"></textarea>'
                            + '</div><div class="section"><span>产品长描述下方:</span><textarea class="itemcreate" data-target="productLongDescriptionBottom_1" type="text"></textarea>'
                            + '</div><div class="section"><span>产品长描述下方(英文):</span><textarea class="itemcreate" data-target="productLongDescriptionBottom_2" type="text"></textarea>'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_1" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_2" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_3" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_4" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_5" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_6" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_7" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_8" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_9" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_10" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_11" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_12" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_13" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_14" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_15" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_16" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_17" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_18" type="text" placeholder="产品特性" />'
                            + '</div><div class="section"><span>产品简述:</span><input class="itemcreate" data-target="productOverView_1" type="text" placeholder="产品简述" />'
                            + '</div><div class="section"><span>产品简述(英文):</span><input class="itemcreate" data-target="productOverView_2" type="text" placeholder="产品简述" />'
                            + '</div><div class="section"><span>产品简述标题:</span><input class="itemcreate" data-target="productOverTitle_1" type="text" placeholder="产品简述标题" />'
                            + '</div><div class="section"><span>产品简述标题(英文):</span><input class="itemcreate" data-target="productOverTitle_2" type="text" placeholder="产品简述标题" />'
                            + '</div><div class="section"><span>一级分类:</span><input class="itemcreate" data-target="tabName_1" type="text" placeholder="一级分类" />'
                            + '</div><div class="section"><span>一级分类(英文):</span><input class="itemcreate" data-target="tabName_2" type="text" placeholder="一级分类" />'
                            + '</div><div class="section"><span>二级分类:</span><input class="itemcreate" data-target="categoryName_1" type="text" placeholder="二级分类" />'
                            + '</div><div class="section"><span>二级分类(英文):</span><input class="itemcreate" data-target="categoryName_2" type="text" placeholder="二级分类" />'
                            + '</div><div class="section"><span>三级分类:</span><input class="itemcreate" data-target="subcategoryName_1" type="text" placeholder="三级分类" />'
                            + '</div><div class="section"><span>三级分类:(英文)</span><input class="itemcreate" data-target="subcategoryName_2" type="text" placeholder="三级分类" />'
                            + '</div><div class="section"><span>三级分类标示(重要):</span><input class="itemcreate" data-target="subcategoryId" type="text" placeholder="三级分类" />'
                            + '</div><div class="section"><span>优先级:</span><input class="itemcreate" data-target="priority" type="text" placeholder="优先级" />'
                            + '</div><div class="section"><span>产品主图(建议尺寸高度500，保持比例,必需要):</span><br/><input class="productImages" type="file" name="main" />'
                            + '</div><div class="section"><span>产品简述图(建议尺寸高度500，保持比例,必需要):</span><br/><input class="productOverViewImages" type="file" name="main" />'
                            + '</div><button class="submitCreateItem" type="submit">提交</button>')
                        $('.createItem_container').append(jdom);
                        $('.submitCreateItem').click(function () {
                            var ddom = jQuery('.itemcreate')
                            // var data = {};

                            var data = new FormData();
                            // for (var i = 0; i < dom.length; i++) {
                            //     if (dom[i] && dom[i].value && dom[i].value.length > 0) {
                            //         data.append(dom[i].getAttribute('data-target'), dom[i].value);
                            //     }
                            // }
                            if (document.getElementsByClassName('productImages')[0].files[0]) {
                                data.append("productImages", document.getElementsByClassName('productImages')[0].files[0])
                            }
                            if (document.getElementsByClassName('productOverViewImages')[0].files[0]) {
                                data.append("productOverViewImages", document.getElementsByClassName('productOverViewImages')[0].files[0])
                            }
                            for (var i = 0; i < ddom.length; i++) {
                                if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                    data.append(ddom[i].getAttribute('data-target'), ddom[i].value);
                                    // if (ddom[i].getAttribute('data-target') === 'productCharacter') {
                                    //     if (data[ddom[i].getAttribute('data-target')]) {
                                    //         data[ddom[i].getAttribute('data-target')].push(ddom[i].value);
                                    //     }
                                    //     else {
                                    //         data[ddom[i].getAttribute('data-target')] = [];
                                    //         data[ddom[i].getAttribute('data-target')].push(ddom[i].value);
                                    //     }
                                    // }
                                    // else {
                                    //     if (data[ddom[i].getAttribute('data-target')]) {
                                    //         data[ddom[i].getAttribute('data-target')].push(ddom[i].value);
                                    //     }
                                    //     else {
                                    //         data[ddom[i].getAttribute('data-target')] = [];
                                    //         data[ddom[i].getAttribute('data-target')].push(ddom[i].value);
                                    //     }
                                    // }
                                }
                            }
                            $.ajax({
                                url: '/management/create',
                                type: 'POST',
                                data: data,
                                dataType: 'JSON',
                                processData: false,
                                contentType: false,
                                cache: false,
                                success: function (data) {
                                    if (data && data.status === 'succeed') {
                                        alert('创建成功')
                                        $('.submitCreateItem').unbind();
                                        $('.left.btn.itemcreate').click();
                                    }
                                    else {
                                        alert('创建失败')
                                    }
                                },
                                error: function (data) {
                                    alert('internal server error')
                                }
                            })
                        })
                    })
                    $('.left.btn.item').click(function () {
                        $('.news_container').html('');
                        $('.item_container').html('');
                        $('.menu_container').html('');
                        $('.createItem_container').html('');
                        $('.createNews_container').html('');
                        $('.createItem_main.main').hide();
                        $('.createNews_main.main').hide();
                        $('.news_main.main').hide();
                        $('.menu_main.main').hide();
                        $('.item_main.main').show();
                        $('.searchItem').unbind();
                        $('.searchItem').click(function () {
                            $('.item_container').html('');
                            $.ajax({
                                url: '/api/getProductDetail',
                                type: 'Get',
                                data: { terribleterribledamage: 1, productNumber: $('.searchItemInput').val() },
                                dataType: 'JSON',
                                cache: false,
                                success: function (data) {
                                    if (data && data.length > 0) {
                                        data.map((person, index) => {
                                            var jDom = $('<div class="section"><span>产品设备号(唯一):</span><input class="itemcreate" data-target="productNumber" type="text" />'
                                                + '</div><div class="section"><span>产品ID:</span><input class="itemcreate" data-target="productId" type="text" />'
                                                + '</div><div class="section"><span>一级分类ID:</span><input class="itemcreate" data-target="tabId" type="text" />'
                                                + '</div><div class="section"><span>二级分类ID:</span><input class="itemcreate" data-target="categoryId" type="text" />'
                                                + '</div><div class="section"><span>三级分类ID:</span><input class="itemcreate" data-target="subcategoryId" type="text" />'
                                                + '</div><div class="section"><span>产品名称:</span><input class="itemcreate" data-target="productTitle_1" type="text" />'
                                                + '</div><div class="section"><span>产品名称(英文):</span><input class="itemcreate" data-target="productTitle_2" type="text" />'
                                                + '</div><div class="section"><span>产品短描述:</span><input class="itemcreate" data-target="productShortDescription_1" type="text" placeholder="产品短描述" />'
                                                + '</div><div class="section"><span>产品短描述(英文):</span><input class="itemcreate" data-target="productShortDescription_2" type="text" placeholder="产品短描述" />'
                                                + '</div><div class="section"><span>产品描述:</span><input class="itemcreate" data-target="productDescription_1" type="text" placeholder="产品描述" />'
                                                + '</div><div class="section"><span>产品描述(英文):</span><input class="itemcreate" data-target="productDescription_2" type="text" placeholder="产品描述" />'
                                                + '</div><div class="section"><span>产品长描述上方:</span><textarea class="itemcreate" data-target="productLongDescriptionTop_1" type="text"></textarea>'
                                                + '</div><div class="section"><span>产品长描述上方(英文):</span><textarea class="itemcreate" data-target="productLongDescriptionTop_2" type="text"></textarea>'
                                                + '</div><div class="section"><span>产品长描述下方:</span><textarea class="itemcreate" data-target="productLongDescriptionBottom_1" type="text"></textarea>'
                                                + '</div><div class="section"><span>产品长描述下方(英文):</span><textarea class="itemcreate" data-target="productLongDescriptionBottom_2" type="text"></textarea>'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_1" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_2" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_3" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_4" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_5" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_6" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_7" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_8" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_9" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_10" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_11" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_12" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_13" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_14" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_15" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_16" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性:</span><input class="itemcreate" data-target="productCharacter_17" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品特性(英文):</span><input class="itemcreate" data-target="productCharacter_18" type="text" placeholder="产品特性" />'
                                                + '</div><div class="section"><span>产品简述:</span><input class="itemcreate" data-target="productOverView_1" type="text" placeholder="产品简述" />'
                                                + '</div><div class="section"><span>产品简述(英文):</span><input class="itemcreate" data-target="productOverView_2" type="text" placeholder="产品简述" />'
                                                + '</div><div class="section"><span>产品简述标题:</span><input class="itemcreate" data-target="productOverTitle_1" type="text" placeholder="产品简述标题" />'
                                                + '</div><div class="section"><span>产品简述标题(英文):</span><input class="itemcreate" data-target="productOverTitle_2" type="text" placeholder="产品简述标题" />'
                                                + '</div><div class="section"><span>一级分类:</span><input class="itemcreate" data-target="tabName_1" type="text" placeholder="一级分类" />'
                                                + '</div><div class="section"><span>一级分类(英文):</span><input class="itemcreate" data-target="tabName_2" type="text" placeholder="一级分类" />'
                                                + '</div><div class="section"><span>一级分类ID:</span><input class="itemcreate" data-target="tabId" type="text" placeholder="一级分类" />'
                                                + '</div><div class="section"><span>二级分类:</span><input class="itemcreate" data-target="categoryName_1" type="text" placeholder="二级分类" />'
                                                + '</div><div class="section"><span>二级分类(英文):</span><input class="itemcreate" data-target="categoryName_2" type="text" placeholder="二级分类" />'
                                                + '</div><div class="section"><span>三级分类:</span><input class="itemcreate" data-target="subcategoryName_1" type="text" placeholder="二级三级分类分类" />'
                                                + '</div><div class="section"><span>三级分类:(英文)</span><input class="itemcreate" data-target="subcategoryName_2" type="text" placeholder="三级分类" />'
                                                + '</div><div class="section"><span>三级分类标示(重要):</span><input class="itemcreate" data-target="subcategoryId" type="text" placeholder="三级分类" />'
                                                + '</div><div class="section"><span>优先级:</span><input class="itemcreate" data-target="priority" type="text" placeholder="优先级" />'
                                                + '</div><div class="section"><span>产品主图(建议尺寸高度500，保持比例,必需要):</span><br/><input class="productImages" type="file" name="main" />'
                                                + '</div><div class="section"><span>产品简述图(建议尺寸高度500，保持比例,必需要):</span><br/><input class="productOverViewImages" type="file" name="main" />'
                                                + '<button class="submitItemInfo">提交修改</button><button class="delete deleteIteminfo">删除产品</button></div></br>')
                                            var dom = jDom.find('.itemcreate');
                                            for (var i = 0; i < dom.length; i++) {
                                                if (dom[i] && dom[i].getAttribute('data-target') && person[dom[i].getAttribute('data-target')]) {
                                                    dom[i].value = person[dom[i].getAttribute('data-target')];
                                                }
                                                // else if (dom[i].getAttribute('data-target') === 'height' || dom[i].getAttribute('data-target') === 'weight' || dom[i].getAttribute('data-target') === 'special') {
                                                //     dom[i].value = (person.body[dom[i].getAttribute('data-target')]);
                                                // }
                                            }
                                            jDom.find('.submitItemInfo').click(function () {
                                                var ddom = jQuery('.itemcreate')
                                                // var data = {};

                                                var data = new FormData();
                                                if (document.getElementsByClassName('productImages')[0].files[0]) {
                                                    data.append("productImages", document.getElementsByClassName('productImages')[0].files[0])
                                                }
                                                if (document.getElementsByClassName('productOverViewImages')[0].files[0]) {
                                                    data.append("productOverViewImages", document.getElementsByClassName('productOverViewImages')[0].files[0])
                                                }
                                                for (var i = 0; i < ddom.length; i++) {
                                                    if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                        data.append(ddom[i].getAttribute('data-target'), ddom[i].value);
                                                    }
                                                }
                                                $.ajax({
                                                    url: '/management/update',
                                                    type: 'POST',
                                                    data: data,
                                                    dataType: 'JSON',
                                                    processData: false,
                                                    contentType: false,
                                                    cache: false,
                                                    success: function (data) {
                                                        if (data && data.status === 'succeed') {
                                                            alert('修改成功')
                                                            $('.submitItemInfo').unbind();
                                                            $('.left.btn.item').click();
                                                        }
                                                        else {
                                                            alert('修改失败')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        alert('internal server error')
                                                    }
                                                })
                                            });
                                            jDom.find('.delete.deleteIteminfo').click(function () {
                                                var ddom = $('.itemcreate');
                                                var data = {};
                                                for (var i = 0; i < ddom.length; i++) {
                                                    if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                        data[ddom[i].getAttribute('data-target')] = ddom[i].value
                                                    }
                                                }
                                                $.ajax({
                                                    url: '/management/deleteItem',
                                                    type: 'GET',
                                                    data: { productNumber: data.productNumber, subcategoryId: data.subcategoryId, tabId: data.tabId },
                                                    dataType: 'JSON',
                                                    cache: false,
                                                    success: function (data) {
                                                        if (data && data.status === 'succeed') {
                                                            alert('删除成功');
                                                            $('.delete.deleteIteminfo').unbind();
                                                            $('.left.btn.item').click();
                                                        }
                                                        else {
                                                            alert('删除失败')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        alert('nternal server error')
                                                    }
                                                })
                                            });
                                            $('.item_container').append(jDom);
                                        })
                                    }
                                },
                                error: function (data) {
                                    alert('查询失败')
                                }
                            })
                        })
                    })

                    $('.left.btn.newsCreate').click(function () {
                        $('.news_container').html('');
                        $('.item_container').html('');
                        $('.menu_container').html('');
                        $('.createItem_container').html('');
                        $('.createNews_container').html('');
                        $('.createItem_main.main').hide();
                        $('.item_main.main').hide()
                        $('.menu_main.main').hide();
                        $('.news_main.main').hide();
                        $('.createNews_main.main').show();
                        var jdom = $('<div class="section"><span>新闻编号(唯一):</span><input class="newscreate" data-target="newsNumber" type="text" />'
                            + '</div><div class="section"><span>新闻标题:</span><input class="newscreate" data-target="newsTitle_1" type="text" />'
                            + '</div><div class="section"><span>新闻标题(英文):</span><input class="newscreate" data-target="newsTitle_2" type="text" />'
                            + '</div><div class="section"><span>新闻短描述:</span><input class="newscreate" data-target="newsShortDescription_1" type="text" placeholder="新闻短描述" />'
                            + '</div><div class="section"><span>新闻短描述(英文):</span><input class="newscreate" data-target="newsShortDescription_2" type="text" placeholder="新闻短描述" />'
                            + '</div><div class="section"><span>新闻描述:</span><input class="newscreate" data-target="newsDescription_1" type="text" placeholder="新闻描述" />'
                            + '</div><div class="section"><span>新闻描述(英文):</span><input class="newscreate" data-target="newsDescription_2" type="text" placeholder="新闻描述" />'
                            + '</div><div class="section"><span>新闻长描述上方:</span><textarea class="newscreate" data-target="newsLongDescriptionTop_1" type="text"></textarea>'
                            + '</div><div class="section"><span>新闻长描述上方(英文):</span><textarea class="newscreate" data-target="newsLongDescriptionTop_2" type="text"></textarea>'
                            + '</div><div class="section"><span>新闻长描述下方:</span><textarea class="newscreate" data-target="newsLongDescriptionBottom_1" type="text"></textarea>'
                            + '</div><div class="section"><span>新闻长描述下方(英文):</span><textarea class="newscreate" data-target="newsLongDescriptionBottom_2" type="text"></textarea>'
                            + '</div><div class="section"><span>新闻正文:</span><textarea class="newscreate" data-target="newsContent_1" type="text"></textarea>'
                            + '</div><div class="section"><span>新闻正文(英文):</span><textarea class="newscreate" data-target="newsContent_2" type="text"></textarea>'
                            + '</div><div class="section"><span>优先级:</span><input class="newscreate" data-target="priority" type="text" placeholder="优先级" />'
                            + '</div><div class="section"><span>新闻主图(建议尺寸高度500，保持比例,必需要):</span><br/><input class="newsImages" type="file" name="main" />'
                            + '</div><div class="section"><span>新闻类型:</span><select class="newscreate" data-target="type"><option value="1">新闻</option>'
                            + '<option value="2">案例</option></select><button class="submitCreateNews" type="submit">提交</button><div></br>')
                        $('.createNews_container').append(jdom);
                        $('.submitCreateNews').click(function () {
                            var ddom = jQuery('.newscreate')
                            // var data = {};

                            var data = new FormData();
                            // for (var i = 0; i < dom.length; i++) {
                            //     if (dom[i] && dom[i].value && dom[i].value.length > 0) {
                            //         data.append(dom[i].getAttribute('data-target'), dom[i].value);
                            //     }
                            // }
                            if (document.getElementsByClassName('newsImages')[0].files[0]) {
                                data.append("newsImages", document.getElementsByClassName('newsImages')[0].files[0])
                            }
                            for (var i = 0; i < ddom.length; i++) {
                                if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                    if (ddom[i].getAttribute('data-target') === 'type') {
                                        if (ddom[i].selectedIndex === 0) {
                                            data.append(ddom[i].getAttribute('data-target'), '1');
                                        }
                                        else if (ddom[i].selectedIndex === 1) {
                                            data.append(ddom[i].getAttribute('data-target'), '2');
                                        }
                                    }
                                    else {
                                        data.append(ddom[i].getAttribute('data-target'), ddom[i].value);
                                    }
                                }
                            }
                            $.ajax({
                                url: '/management/createNews',
                                type: 'POST',
                                data: data,
                                dataType: 'JSON',
                                processData: false,
                                contentType: false,
                                cache: false,
                                success: function (data) {
                                    if (data && data.status === 'succeed') {
                                        alert('创建成功')
                                        $('.submitCreateItem').unbind();
                                        $('.left.btn.itemcreate').click();
                                    }
                                    else {
                                        alert('创建失败')
                                    }
                                },
                                error: function (data) {
                                    alert('internal server error')
                                }
                            })
                        })
                    })
                    $('.left.btn.news').click(function () {
                        $('.news_container').html('');
                        $('.item_container').html('');
                        $('.menu_container').html('');
                        $('.createItem_container').html('');
                        $('.createNews_container').html('');
                        $('.createItem_main.main').hide();
                        $('.createNews_main.main').hide();
                        $('.item_main.main').hide();
                        $('.menu_main.main').hide();
                        $('.news_main.main').show();
                        $('.searchNews').unbind();
                        $('.searchNews').click(function () {
                            $('.news_container').html('');
                            $.ajax({
                                url: '/api/getNewsDetail',
                                type: 'Get',
                                data: { terribleterribledamage: 1, newsNumber: $('.searchNewsInput').val() },
                                dataType: 'JSON',
                                cache: false,
                                success: function (data) {
                                    if (data && data.length > 0) {
                                        data.map((person, index) => {
                                            var jDom = $('<div class="section"><span>新闻编号(唯一):</span><input class="newscreate" data-target="newsNumber" type="text" />'
                                                + '</div><div class="section"><span>新闻ID:</span><input class="newscreate" data-target="newsId" type="text" />'
                                                + '</div><div class="section"><span>新闻标题:</span><input class="newscreate" data-target="newsTitle_1" type="text" />'
                                                + '</div><div class="section"><span>新闻标题(英文):</span><input class="newscreate" data-target="newsTitle_2" type="text" />'
                                                + '</div><div class="section"><span>新闻短描述:</span><input class="newscreate" data-target="newsShortDescription_1" type="text" placeholder="新闻短描述" />'
                                                + '</div><div class="section"><span>新闻短描述(英文):</span><input class="newscreate" data-target="newsShortDescription_2" type="text" placeholder="新闻短描述" />'
                                                + '</div><div class="section"><span>新闻描述:</span><input class="newscreate" data-target="newsDescription_1" type="text" placeholder="新闻描述" />'
                                                + '</div><div class="section"><span>新闻描述(英文):</span><input class="newscreate" data-target="newsDescription_2" type="text" placeholder="新闻描述" />'
                                                + '</div><div class="section"><span>新闻长描述上方:</span><textarea class="newscreate" data-target="newsLongDescriptionTop_1" type="text"></textarea>'
                                                + '</div><div class="section"><span>新闻长描述上方(英文):</span><textarea class="newscreate" data-target="newsLongDescriptionTop_2" type="text"></textarea>'
                                                + '</div><div class="section"><span>新闻长描述下方:</span><textarea class="newscreate" data-target="newsLongDescriptionBottom_1" type="text"></textarea>'
                                                + '</div><div class="section"><span>新闻长描述下方(英文):</span><textarea class="newscreate" data-target="newsLongDescriptionBottom_2" type="text"></textarea>'
                                                + '</div><div class="section"><span>新闻正文:</span><textarea class="newscreate" data-target="newsContent_1" type="text"></textarea>'
                                                + '</div><div class="section"><span>新闻正文(英文):</span><textarea class="newscreate" data-target="newsContent_2" type="text"></textarea>'
                                                + '</div><div class="section"><span>优先级:</span><input class="newscreate" data-target="priority" type="text" placeholder="优先级" />'
                                                + '</div><div class="section"><span>新闻主图(建议尺寸高度500，保持比例,必需要):</span><br/><input class="newsImages" type="file" name="main" />'
                                                + '</div><div class="section"><span>新闻类型:</span><select class="newscreate" data-target="type"><option value="1">新闻</option>'
                                                + '<option value="2">案例</option></select><button class="submitNewsInfo">提交修改</button><button class="delete deleteNewsInfo">删除新闻</button></div></br>')
                                            var dom = jDom.find('.newscreate');
                                            for (var i = 0; i < dom.length; i++) {
                                                if (dom[i] && dom[i].getAttribute('data-target') && person[dom[i].getAttribute('data-target')]) {
                                                    if (dom[i].getAttribute('data-target') === 'type') {
                                                        switch (person[dom[i].getAttribute('data-target')]) {
                                                            case '1':
                                                            default:
                                                                dom[i].selectedIndex = 0;
                                                                break;
                                                            case '2':
                                                                dom[i].selectedIndex = 1;
                                                                break;
                                                        }
                                                    }
                                                    else {
                                                        dom[i].value = person[dom[i].getAttribute('data-target')];
                                                    }
                                                }
                                            }
                                            jDom.find('.submitNewsInfo').click(function () {
                                                var ddom = jQuery('.newscreate')
                                                // var data = {};

                                                var data = new FormData();
                                                if (document.getElementsByClassName('newsImages')[0].files[0]) {
                                                    data.append("newsImages", document.getElementsByClassName('newsImages')[0].files[0])
                                                }
                                                for (var i = 0; i < ddom.length; i++) {
                                                    if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                        if (ddom[i].getAttribute('data-target') === 'type') {
                                                            if (ddom[i].selectedIndex === 0) {
                                                                data.append(ddom[i].getAttribute('data-target'), '1');
                                                            }
                                                            else if (ddom[i].selectedIndex === 1) {
                                                                data.append(ddom[i].getAttribute('data-target'), '2');
                                                            }
                                                        }
                                                        else {
                                                            data.append(ddom[i].getAttribute('data-target'), ddom[i].value);
                                                        }
                                                    }
                                                }
                                                $.ajax({
                                                    url: '/management/updateNews',
                                                    type: 'POST',
                                                    data: data,
                                                    dataType: 'JSON',
                                                    processData: false,
                                                    contentType: false,
                                                    cache: false,
                                                    success: function (data) {
                                                        if (data && data.status === 'succeed') {
                                                            alert('修改成功')
                                                            $('.submitNewsInfo').unbind();
                                                            $('.left.btn.news').click();
                                                        }
                                                        else {
                                                            alert('修改失败')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        alert('internal server error')
                                                    }
                                                })
                                            });
                                            jDom.find('.delete.deleteNewsInfo').click(function () {
                                                var ddom = $('.newscreate');
                                                var data = {};
                                                for (var i = 0; i < ddom.length; i++) {
                                                    if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                        data[ddom[i].getAttribute('data-target')] = ddom[i].value
                                                    }
                                                }
                                                $.ajax({
                                                    url: '/management/deleteNews',
                                                    type: 'GET',
                                                    data: { newsNumber: data.newsNumber },
                                                    dataType: 'JSON',
                                                    cache: false,
                                                    success: function (data) {
                                                        if (data && data.status === 'succeed') {
                                                            alert('删除成功');
                                                            $('.delete.deleteNewsInfo').unbind();
                                                            $('.left.btn.news').click();
                                                        }
                                                        else {
                                                            alert('删除失败')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        alert('nternal server error')
                                                    }
                                                })
                                            });
                                            $('.news_container').append(jDom);
                                        })
                                    }
                                },
                                error: function (data) {
                                    alert('查询失败')
                                }
                            })
                        })
                    })


                    $('.left.btn.menu').click(function () {
                        $('.news_container').html('');
                        $('.item_container').html('');
                        $('.menu_container').html('');
                        $('.createItem_container').html('');
                        $('.createNews_container').html('');
                        $('.createItem_main.main').hide();
                        $('.createNews_main.main').hide();
                        $('.item_main.main').hide();
                        $('.news_main.main').hide();
                        $('.menu_main.main').show();
                        $('.searchMenu').unbind();
                        $('.searchMenu').click(function () {
                            $('.menu_container').html('');
                            $.ajax({
                                url: '/api/getProductlist',
                                type: 'Get',
                                data: { terribleterribledamage: 1, subcategoryId: $('.searchMenuInput').val() },
                                dataType: 'JSON',
                                cache: false,
                                success: function (data) {
                                    if (data && data.length > 0) {
                                        data.map((person, index) => {
                                            var jDom = $('<div class="section"><span>三级分类标示(唯一):</span><input class="menu" data-target="subcategoryId" type="text" />'
                                                + '</div><div class="section"><span>一级分类ID:</span><input class="menu" data-target="tabId" type="text" />'
                                                + '</div><div class="section"><span>一级分类:</span><input class="menu" data-target="tabName_1" type="text" placeholder="一级分类" />'
                                                + '</div><div class="section"><span>一级分类(英文):</span><input class="menu" data-target="tabName_2" type="text" placeholder="一级分类" />'
                                                + '</div><div class="section"><span>二级分类:</span><input class="menu" data-target="categoryName_1" type="text" placeholder="二级分类" />'
                                                + '</div><div class="section"><span>二级分类(英文):</span><input class="menu" data-target="categoryName_2" type="text" placeholder="二级分类" />'
                                                + '</div><div class="section"><span>三级分类:</span><input class="menu" data-target="subcategoryName_1" type="text" placeholder="三级分类" />'
                                                + '</div><div class="section"><span>三级分类:(英文)</span><input class="menu" data-target="subcategoryName_2" type="text" placeholder="三级分类" />'
                                                + '</div><div class="section"><span>导航栏ID(唯一):</span><input class="menu" data-target="navigationId" type="text" />'
                                                + '</div><div class="section"><span>标题:</span><input class="menu" data-target="headTitle_1" type="text" />'
                                                + '</div><div class="section"><span>标题(英文):</span><input class="menu" data-target="headTitle_2" type="text" />'
                                                + '</div><div class="section"><span>标题描述:</span><input class="menu" data-target="headDescription_1" type="text" />'
                                                + '</div><div class="section"><span>标题描述(英文):</span><input class="menu" data-target="headDescription_2" type="text" />'
                                                + '</div><div class="section"><span>正文标题:</span><input class="menu" data-target="subcategroyTitle_1" type="text" />'
                                                + '</div><div class="section"><span>正文标题(英文):</span><input class="menu" data-target="subcategroyTitle_2" type="text" />'
                                                + '</div><div class="section"><span>产品标题:</span><input class="menu" data-target="subcategoryProductTitle_1" type="text" />'
                                                + '</div><div class="section"><span>产品标题(英文):</span><input class="menu" data-target="subcategoryProductTitle_2" type="text" />'
                                                + '</div><div class="section"><span>长描述上方:</span><textarea class="menu" data-target="subcategoryDescriptionTop_1" type="text"></textarea>'
                                                + '</div><div class="section"><span>长描述上方(英文):</span><textarea class="menu" data-target="subcategoryDescriptionTop_2" type="text"></textarea>'
                                                + '</div><div class="section"><span>长描述下方:</span><textarea class="menu" data-target="subcategoryDescriptionBottom_1" type="text"></textarea>'
                                                + '</div><div class="section"><span>长描述下方(英文):</span><textarea class="menu" data-target="subcategoryDescriptionBottom_2" type="text"></textarea>'
                                                + '</div><div class="section"><span>优先级:</span><input class="menu" data-target="priority" type="text" placeholder="优先级" />'
                                                + '<button class="submitMenuInfo">提交修改</button></div></br>')
                                            var dom = jDom.find('.menu');
                                            for (var i = 0; i < dom.length; i++) {
                                                if (dom[i] && dom[i].getAttribute('data-target') && person[dom[i].getAttribute('data-target')]) {
                                                    dom[i].value = person[dom[i].getAttribute('data-target')];
                                                }
                                            }
                                            jDom.find('.submitMenuInfo').click(function () {
                                                var ddom = jQuery('.menu')
                                                // var data = {};

                                                var data = new FormData();
                                                for (var i = 0; i < ddom.length; i++) {
                                                    if (ddom[i] && ddom[i].value && ddom[i].value.length > 0) {
                                                        data.append(ddom[i].getAttribute('data-target'), ddom[i].value);
                                                    }
                                                }
                                                $.ajax({
                                                    url: '/management/updateMenu',
                                                    type: 'POST',
                                                    data: data,
                                                    dataType: 'JSON',
                                                    processData: false,
                                                    contentType: false,
                                                    cache: false,
                                                    success: function (data) {
                                                        if (data && data.status === 'succeed') {
                                                            alert('修改成功')
                                                            $('.submitMenuInfo').unbind();
                                                            $('.left.btn.menu').click();
                                                        }
                                                        else {
                                                            alert('修改失败')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        alert('internal server error')
                                                    }
                                                })
                                            });
                                            $('.menu_container').append(jDom);
                                        })
                                    }
                                },
                                error: function (data) {
                                    alert('查询失败')
                                }
                            })
                        })
                    })
                }
            })
        </script>
</body>