<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>擎光信息-小程序开发等</title>
    <meta name="description" content="擎光信息有限公司致力于上海的技术研发,是全网价值开发服务商（官网搭建、平台开发、APP开发、微信开发、微信代运营、微信小程序、H5）">
    <meta name="Keywords" content="擎光信息有限公司、网站建设、APP开发、微信公众号、微信开发、微信代运营、微信小程序">
    <meta name="author" content="擎光信息有限公司">
    <link rel="stylesheet" href="/stylesheets/operate.css">
    <link href="/stylesheets/case.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
</head>

<body>

    <div class="wrap">
        <!-- head头部导航 -->
        <div class="head-nav" id="header">
            <div class="nav-cotar hf cfa">
                <div class="logo-box fp lfp">
                    <!-- <img src="/img/logo-green.png" style=" width: 0; height: 0; overflow: hidden; display: block; visibility: hidden; "> -->
                    <p style=" width: 0; height: 0; overflow: hidden; display: block; visibility: hidden; ">擎光信息科技</p>
                </div>
                <div class="nav-box  fp rfp">
                    <a href="/" class="item ">首页</a>
                    <a href="#" class="item server active">服务
                        <div class="subTitleBox">
                            <p class="subTitle aa">微信公众号开发</p>
                            <p class="subTitle bb">小程序开发</p>
                            <p class="subTitle cc">公众号代运营</p>
                            <p class="subTitle dd">PC端网站制作</p>
                        </div>
                    </a>
                    <a href="/case" class="item ">案例</a>
                    <a href="/price" class="item">资费</a>
                    <a href="/join" class="item ">加盟</a>

                    <a href="tel:021-60504342" class="item link-phone ic-linkphone">
                        <span>021-60504342</span>
                    </a>
                </div>
            </div>
        </div>


        <div class="banner">
            <div class="con">
            </div>
        </div>
        <div class="question">
            <div class="title">
                <p class="top">微信运营五大难题</p>
                <p class="bot">成本高、粉丝少、营销效果不好</p>
            </div>
            <div class="con">
                <div class="item1">
                    <p class="name">团队</p>
                    <p class="desc">人才缺乏，运营效率低</p>
                </div>
                <div class="item2">
                    <p class="name">成本</p>
                    <p class="desc">团队成本高，投入比例大</p>
                </div>
                <div class="item3">
                    <p class="name">规模</p>
                    <p class="desc">公司规模小，服务没保障</p>
                </div>
                <div class="item4">
                    <p class="name">粉丝</p>
                    <p class="desc">增长缓慢、互动性不强</p>
                </div>
                <div class="item5">
                    <p class="name">运营</p>
                    <p class="desc">缺乏经验、运营没效果</p>
                </div>
            </div>
        </div>
        <div class="advan">
            <div class="title">
                <p class="top">五大优势，让难题迎刃而解</p>
                <p class="bot">优势保障，让微信营销更快、更广，效果更好</p>
            </div>
            <div class="con">
                <ul>
                    <li>
                        <div class="item">
                            <img src="/img/advan1.jpg" alt="微信代运营公司成本低">
                            <div class="line"></div>
                            <p class="name">成本低</p>
                            <p class="desc">每月不到一个人的工资价格，提供专业的团队服务!</p>
                        </div>
                    </li>
                    <li>
                        <div class="item item2">
                            <img src="/img/advan2.jpg" alt="微信代运营公司效果好">
                            <div class="line"></div>
                            <p class="name">效果好</p>
                            <p class="desc">拥有丰富的微信运营经验，让营销更高效！</p>
                        </div>
                    </li>
                    <li>
                        <div class="item item3">
                            <img src="/img/advan3.jpg" alt="微信代运营公司专业性">
                            <div class="line"></div>
                            <p class="name">专业性</p>
                            <p class="desc">专人负责，多年的网络营销经验积淀，是我们专业的保障！</p>
                        </div>
                    </li>
                    <li>
                        <div class="item item4">
                            <img src="/img/advan4.jpg" alt="微信代运营公司安全性">
                            <div class="line"></div>
                            <p class="name">安全性</p>
                            <p class="desc">账号保密，保证你的账号不会被其他人知道！</p>
                        </div>
                    </li>
                    <li>
                        <div class="item item5">
                            <img src="/img/advan5.jpg" alt="微信代运营公司功能多">
                            <div class="line"></div>
                            <p class="name">功能多</p>
                            <p class="desc">微网站、微商城、微店等自主开发功能，提供优质服务！</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--对比-->
        <div class="vs">
            <p class="title">团队管理，代运营让微信营销更简单</p>
            <div class="con">
                <img src="/img/icon_vs.png" class="icon" alt="独立运营微信和企业微信代运营对比">
                <ul>
                    <li class="left">
                        <p class="name">独立运营微信</p>
                        <div class="desc">
                            <p>成本高:独立运营需要专业团队，实施成本较高。</p>
                            <p>力量小:企业自己安排一个人力，大多只能实现基本的更新维护</p>
                            <p>很难实现微网站、会员卡等个性功能及活动策划。</p>
                            <p>不专业:微营销实施中需要创意和营销策划，不单单是维护。</p>
                            <p>见效慢:企业自主经营，拥有推广资源缺乏。</p>
                        </div>
                    </li>
                    <li class="right">
                        <p class="name">企业微信代运营</p>
                        <div class="desc">
                            <p>
                                <span>成本低:</span>成熟的团队，同时操作多个号码，流程化安排，成本更低。</p>
                            <p>
                                <span>性价比:</span>我们不但提供运营维护还赠送微网站等建设性功能，这些企业自身很难开发和维护。</p>
                            <p>
                                <span>专业性:</span>运营团队已运营过多家微信，团队积累了丰富的经验和创意</p>
                            <p>
                                <span>见效快:</span>我们拥有自己的推广资源，结合多家微资源整合，效果好</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--套餐-->
        <div class="taocan">
            <p class="title">
                服务套餐
            </p>
            <div class="con">
                <ul>
                    <li class="item1">
                        <div class="info">
                            <div class="name">微信基础运营套餐</div>
                            <div class="line"></div>
                            <p>账号注册</p>
                            <p>帐号基本设置</p>
                            <p>帐号功能设计</p>
                            <p>粉丝管理与维护</p>
                            <p>内容策划与定位</p>
                            <p>图文消息策划、维护、发送</p>
                            <p>真人活粉增加</p>
                            <p>公众号营销视频赠送</p>
                            <p>每周运营数据汇报</p>
                        </div>
                    </li>
                    <li class="item1 item2">
                        <div class="info">
                            <div class="name">微信高级运营套餐</div>
                            <div class="line"></div>
                            <p>账号注册</p>
                            <p>帐号基本设置</p>
                            <p>帐号功能设计</p>
                            <p>粉丝管理与维护</p>
                            <p>内容策划与定位</p>
                            <p>图文消息策划、维护、发送</p>
                            <p>真人活粉增加</p>
                            <p>公众号营销视频赠送</p>
                            <p>每周运营数据汇报</p>
                            <p>微信认证</p>
                            <p>个性化二维码设计</p>
                            <p>自定义菜单功能设计</p>
                            <p>留言、原创功能开通</p>
                            <p>粉丝用户投诉处理</p>
                            <p>投票活动策划</p>
                            <p>微信wifi、门店服务开通</p>
                            <p>微信卡券开通与制作</p>
                            <p>传播、阅读、粉丝数据分析汇总</p>
                            <p>营销小视频制作</p>
                        </div>
                    </li>
                    <li class="item1 item3">
                        <div class="info">
                            <div class="name">微信高级运营套餐</div>
                            <div class="line"></div>
                            <p>账号注册</p>
                            <p>帐号基本设置</p>
                            <p>帐号功能设计</p>
                            <p>粉丝管理与维护</p>
                            <p>内容策划与定位</p>
                            <p>图文消息策划、维护、发送</p>
                            <p>真人活粉增加</p>
                            <p>公众号营销视频赠送</p>
                            <p>每周运营数据汇报</p>
                            <p>微信认证</p>
                            <p>个性化二维码设计</p>
                            <p>自定义菜单功能设计</p>
                            <p>留言、原创功能开通</p>
                            <p>粉丝用户投诉处理</p>
                            <p>投票活动策划</p>
                            <p>微信wifi、门店服务开通</p>
                            <p>微信卡券开通与制作</p>
                            <p>传播、阅读、粉丝数据分析汇总</p>
                            <p>营销小视频制作</p>
                            <p>人工在线客服</p>
                            <p>营销活动策划</p>
                            <p>公众号外部推广</p>
                            <p>重大节日活动策划</p>
                            <p>微网站、微商城、微店开发搭建</p>
                            <p>微信支付开通</p>
                            <p>H5宣传页面</p>
                            <p>广告投放</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="single">
            <p class="name">单项服务内容，自行挑选后，请联系客服咨询！</p>
            <div class="con">
                <div class="left" id="box">
                    <div class="content" id="content">
                        <p>
                            <span>微信公众账号开通与认证:</span>帮助企业或个体商户开通并认证微信公众账号。</p>
                        <p>
                            <span>个性化二维码设计:</span>微信公众号的个性二维码设计，让你独一无二。</p>
                        <p>
                            <span>平台信息完善:</span>根据企业的性质、品牌内涵，设计出关注欢迎语，完善公众号个性标签、企业介绍、微信公众号LOGO等。</p>
                        <p>
                            <span>自定义菜单功能:</span>用户无需通过输入关键词触发回复，直接点击菜单就可以看相关的推送内容。</p>
                        <p>
                            <span>消息内容推送:</span>公众号内容更新推送（订阅号每月66条，服务号每月16条）节假休息。</p>
                        <p>
                            <span>运营汇报周报:</span>每周汇报微信公众号的运营情况，包括数据分析。</p>
                        <p>
                            <span>微信系统功能:</span>包括微网站、微店、微服务等功能。</p>
                        <p>
                            <span>人工在线客服:</span>我们会安排专人在线回复用户的提问，帮助用户解决疑难问题，做到为企业良好的维护新老客户。</p>
                        <p>
                            <span>微活动营销系统:</span>包括幸运大转盘、优惠券、刮刮乐、砸金蛋、微游戏等。</p>
                        <p>
                            <span>品牌曝光:</span>通过各大新闻门户网站做软文营销，事件营销，为企业做品牌曝光。</p>
                        <p>
                            <span>事件营销:</span>通过策划和借势热点事件，合理规划传播途径，迅速让企业品牌知名度提升。</p>
                        <p>
                            <span>微信粉丝数:</span>实现微信公众号增长粉丝，绝对都是活粉，拒绝刷粉行为。</p>
                        <p>
                            <span>微信数据分析:</span>定期为企业微信做数据分析，从数据中发现下一步推广该怎么做。</p>
                        <p>
                            <span>微信舆情分析:</span>关注微信行业最新动态，及时做出反应为企业做更好的服务。</p>
                        <p>
                            <span>公众号外部推广:</span>通过软文等推广渠道引导用户关注微信公众号，为企业专门做活动策划，执行，增强粉丝粘度和品牌曝光。</p>
                        <p>
                            <span>广告主投放:</span>助力梦想基金，让更多超百万公众号帮你任性展示、推广。</p>
                        <p>
                            <span>营销视频资料:</span>让你全面了解微信营销，明确营销目的及方向性，制定更符合你企业的营销方案。</p>
                        <p>
                            <span>H5宣传页面制作:</span>制作企业专属的H5营销页面活动，让企业的品牌和产品迅速走红朋友圈。</p>
                    </div>
                </div>
                <div class="right" id="btnbox">
                    <div class="btn" id="btn"></div>
                </div>
            </div>
        </div>
        <div class="case">
            <p class="title">案例展示</p>
            <div class="con">
                <img src="/img/case.jpg" alt="微信代运营公司案例">
            </div>
        </div>

        <div class="blank_100"></div>
        <!-- <script charset="UTF-8" src="/img/QiMoIMSDK.js"></script> -->
        <!-- <script charset="utf-8" src="/javascripts/v.js"></script> -->
        <script charset="UTF-8" src="/javascripts/json2.js"></script>
        <!-- <script src="/img/hm.js"></script> -->
        <!-- <script type="text/javascript">    function upInfo(data) {
            var page = window.location.href;
            $.post('/stat/event', {
                category: "联系",
                client: 'pc',
                action: data,
                page: page
            }, function () {

            })
        }
    </script> -->
        <!-- 侧栏 -->
        <div class="side-t-wrap " id="side_top " style="display: none; ">
            <div class="ic-box t-top " id="arr_top "></div>
            <a class="ic-box t-qq " target="_blank " href="http://wpa.qq.com/msgrd?v=3&amp;uin=943281721&amp;site=qq&amp;menu=yes ">
            </a>
            <div class="ic-box t-phone ">
                <div class="pop-box-wrap ">
                    <div class="pop-box phone-box ">TEL：021-60504342</div>
                </div>
            </div>

        </div>
        <!-- 底部 -->
        <div id="footer " class="footer " style="margin-top: 100px;">
            <div class="line "></div>
            <div class="center-cotar hf ">
                <div class="content-list ">
                    <div id="footer_address_box " class="address-box hf ">
                        <div class="btn-group fp ">
                            <div class="btn mc-active active ic-address " mc-efc-btn="address1 ">
                                <span>上海</span>
                            </div>
                            <!-- <div class="btn ic-address " mc-efc-btn="address2 "><span>宁波</span></div> -->
                        </div>
                        <div class="content-item address-content fp mc-active " mc-efc-page="address1 ">
                            <div class="headline ">联系我们</div>
                            <div class="info-list ">
                                <div class="item hf ic-footer1 ">
                                    <div class="label ftp ">地址：</div>
                                    <div class="content ftp ">上海市宝山区沪太路5355弄2幢3号楼520室（绿地广场）</div>
                                </div>
                                <div class="item hf ic-footer2 ">
                                    <div class="label ftp ">电话：</div>
                                    <div class="content ftp ">021-60504342  从先生:15221879161  杨小姐:15158808506</div>
                                </div>
                                <div class="item hf ic-footer3 ">
                                    <div class="label ftp ">QQ：</div>
                                    <div class="content ftp ">943281721</div>
                                </div>
                                <div class="item hf ic-footer4 ">
                                    <div class="label ftp ">商务合作：</div>
                                    <div class="content ftp ">943281721@qq.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="content-item address-content fp " mc-efc-page="address2 " style="display: none; ">
                            <div class="headline ">联系我们</div>
                            <div class="info-list ">
                                <div class="item hf ic-footer1 ">
                                    <div class="label ftp ">地址：</div>
                                    <div class="content ftp ">上海市宝山区沪太路5355弄2幢3号楼520室（绿地广场）</div>
                                </div>
                                <div class="item hf ic-footer2 ">
                                    <div class="label ftp ">电话：</div>
                                    <div class="content ftp ">021-60504342  从先生:15221879161  杨小姐:15158808506</div>
                                </div>
                                <div class="item hf ic-footer3 ">
                                    <div class="label ftp ">QQ：</div>
                                    <div class="content ftp ">553206752</div>
                                </div>
                                <div class="item hf ic-footer4 ">
                                    <div class="label ftp ">商务合作：</div>
                                    <div class="content ftp ">943281721@qq.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="content-item qrcode-wrap ">
                            <div class="pic-wrap ">
                                <img src="/img/img_qr.png ">
                            </div>
                        </div>
                        <div class="content-item link-box ">
                            <div class="headline ">相关链接</div>
                            <div class="lr-box ">
                                <p class="des ">
                                    <a href="http://shop.epwk.com/4141035/ " target="_blank ">擎光店铺</a> <br>
                                    <a href="http://www.mammothcode.com/Home/Solution/2016022028fb38c3 ">微信定制</a>  <br>
                                    <a href="http://www.mammothcode.com/WorkPage/OurWork/201602205c51aab4 ">案例中心</a>
                                </p>
                                <p class="des no-mr ">
                                    <a href="http://www.mammothcode.com/WorkPage/OurInformation/20160224e3287721 ">新闻中心</a> <br>
                                    <a href="http://www.mammothcode.com/Home/AboutUs/20160220583e6dfb ">关于我们</a>
                                </p>
                            </div>
                        </div> -->

                </div>
            </div>
            <div class="bottom-cotar hf ">
                <div class="center-cotar ">
                    <p>
                        <!-- Copyright © 2016 Mammothcode All Rights Reserved 浙ICP备 15025813号-1 -->
                        <br> 本网站设计已受版权保护。任何公司及个人不得复制，违者将依法追究责任，特此声明。
                    </p>
                    <!-- <div class="link-wrap hf ">
                            <div class="item fp ">友情链接：</div>
                                    <a href="http://www.zhuta.org/ " class="item fp " target="_blank ">助他自强</a>
                                    <a href="http://www.xiuchewenwen.com/ " class="item fp " target="_blank ">修车问问</a>
                                    <a href="http://www.zjzramc.com/ " class="item fp " target="_blank ">喆融</a>
                                    <a href="http://www.hzsanshan.com/ " class="item fp " target="_blank ">三善</a>
                                    <a href="http://www.micauto.cn/ " class="item fp " target="_blank ">微动</a>
    
                            
                        </div> -->
                    <div style="width:300px;margin:0 auto;padding-top: 15px; ">
                        <!-- <a target="_blank " href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002752
                                                    " style="display:inline-block;text-decoration:none;height:20px;line-height:20px;
                                                    "><img src="/img/ghs.png " style="float:left; "><p style="float:left;height:20px;line-height:20px;margin:
                                                    0px 0px 0px 5px; color:#939393; ">浙公网安备 33010502002752号</p></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/main.js"></script> -->
    <script type="text/javascript ">
        $('.choose').on('click', function(e){
            console.log('this', this)
            if(this.className.indexOf('choose active') === -1){
                var dom = $('.choose');
                for (var index = 0; index < dom.length; index++) {
                    dom[index].className = 'choose';
                }
                this.className = 'choose active';

                if(this.innerText === '小程序'){
                    $($('.cont')[0]).show();
                    $($('.cont')[1]).hide();
                }
                else{
                    $($('.cont')[1]).show();
                    $($('.cont')[0]).hide();
                }
            }
        })
        //导航栏样式函数，判断距离顶部距离
        $(window).bind("scroll ", function () {
            var navH = $(window).scrollTop();
            var $head = $("#header ");
            var $sideTop = $(".side-t-wrap ");
            if (navH > 20) {
                $head.addClass("active ");
                $sideTop.fadeIn();
            };
            if (navH <= 20) {
                $head.removeClass("active ");
                $sideTop.fadeOut();
            };
        });

        //返回顶部
        $(".ic-box.t-top ").click(function () {
            $("body,html ").animate({ scrollTop: 0 }, 600);
        });

        $(function () {
            var page = {}; //页面对象
            page.deviceType = "PC "; //设备类型 PC 电脑端, APP 移动端, IEunder9 不支持CSS3的IE浏览器(包括IE6,7,8,9)
            //设备类型判断
            if (/ipad|iphone os|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/i.test(navigator.userAgent)) {
                page.deviceType = "APP "; //移动端
                if (/iphone os|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/i.test(navigator.userAgent)) {
                    page.deviceType = "Phone "; //手机端
                }
            } else {
                if (/(msie [6|7|8|9])/i.test(navigator.userAgent)) {
                    page.deviceType = "IEunder9 "; //IE9 以下
                } else {
                    page.deviceType = "PC "; //电脑端且支持CSS3
                }
            }

            if (page.deviceType == "IEunder9 ") {
                $("body ").addClass("ie8 ");
            }

            window.onload = function() {
                
                var oDiv1 = document.getElementById('btnbox');
                var oDiv2 = document.getElementById('btn');
                var oDiv3 = document.getElementById('box');
                var oDiv4 = document.getElementById('content');
                
                var iMaxTop = oDiv1.offsetHeight - oDiv2.offsetHeight;
                
                oDiv2.onmousedown = function(ev) {
                    
                    var ev = ev || event;
                    
                    var disY = ev.clientY - this.offsetTop;
                    
                    document.onmousemove = function(ev) {
                        
                        var ev = ev || event;
                        
                        var T = ev.clientY - disY;
                        
                        if ( T < 0 ) {
                            T = 0;
                        } else if ( T > iMaxTop ) {
                            T = iMaxTop;
                        }
                        
                        oDiv2.style.top = T + 'px';
                        
                        var iScale = T / iMaxTop;
                        
                        oDiv4.style.top = (oDiv3.clientHeight - oDiv4.offsetHeight) * iScale + 'px';
                        
                    }
                    
                    document.onmouseup = function() {
                        
                        document.onmousemove = document.onmouseup = null;
                        
                    }
                    
                    return false;
                    
                }
                
            }
        });
    </script>
    <!-- qq客服js -->
    <!-- <script type="text/javascript" src="/javascripts/7moorInit.js" async="async"></script> -->

    <script src="/javascripts/common.js"></script>
    <!-- <script type="text/javascript" src="/img/online"></script> -->
</body>

</html>