<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="page-view-size" content="1280*720">
    <title>niche</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>

    <img id="logo" src='img/logo.png' />
    <hr/>
    <img id="txt" src='img/home-txt.png' />
    <img id="arrow" src='img/arrow.png' />
    <script src="/javascripts/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
	$(function(){
        jQuery('#arrow').click(function(e){
            location.href = 'homepage';
        })
    });
</script>
</body>

</html>