<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>擎光信息-小程序开发等</title>
    <meta name="description" content="擎光信息有限公司致力于上海的技术研发,是全网价值开发服务商（官网搭建、平台开发、APP开发、微信开发、微信代运营、微信小程序、H5）">
    <meta name="Keywords" content="擎光信息有限公司、网站建设、APP开发、微信公众号、微信开发、微信代运营、微信小程序">
    <meta name="author" content="擎光信息有限公司">
    <link rel="stylesheet" type="text/css" href="/stylesheets/spg/global.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/spg/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/spg/solution.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/spg/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/spg/fix.css">
    <link href="/stylesheets/case.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
</head>

<body>

    <div class="wrap">
        <!-- head头部导航 -->
        <div class="head-nav" id="header">
            <div class="nav-cotar hf cfa">
                <div class="logo-box fp lfp">
                    <img class="logo_banner" src="/img/logo_1.png" style=" width: 259px; height: 50px; display: none; ">
                    <p style=" width: 0; height: 0; overflow: hidden; display: block; visibility: hidden; ">擎光信息科技</p>
                </div>
                <div class="nav-box  fp rfp">
                    <a href="/" class="item ">首页</a>
                    <a href="#" class="item server active">服务
                        <div class="subTitleBox">
                            <p class="subTitle aa">微信公众号开发</p>
                            <p class="subTitle bb">小程序开发</p>
                            <p class="subTitle cc">公众号代运营</p>
                            <p class="subTitle dd">PC端网站制作</p>
                        </div>
                    </a>
                    <a href="/case" class="item ">案例</a>
                    <a href="/price" class="item">资费</a>
                    <a href="/join" class="item ">加入我们</a>

                    <a href="tel:021-60504342" class="item link-phone ic-linkphone">
                        <span>021-60504342</span>
                    </a>
                </div>
            </div>
        </div>

        <!--banner集合-->
        <div id="mod-Banner">
            <div id="Banner-inner">
                <ul>

                    <li style="background: url(&quot;/img/spg/bg.jpg&quot;) center center no-repeat; width: 1440px;">
                        <div class="Banner-innerContent">
                            <div class="Banner-innerContent_ct">
                                <h2 style="font-size: 55px;">十年资深技术团队</h2>
                                <div style="font-size: 30px; line-height: 70px;">
                                    目前已为上百家企业提供个性化定制开发服务

                                </div>
                                <div class="BannerDes-text">
                                    10年专业开发经验，只为您量身定制

                                </div>
                            </div>
                            <!-- <a style="cursor: pointer; top: 355px;" id="solution_banner" class="trackEvent" trackinnercategory="PageQQ" trackpage="solution"
                                tracknode="banner">立即咨询</a> -->
                        </div>
                    </li>

                </ul>
            </div>
            <ol>

                <li class="current"></li>

                <!-- <li class="current"></li>
                <li></li>
                <li></li>
                <li></li>-->
            </ol>
            <div class="hero-handle mod-hero" style="opacity: 0;">
                <div class="hero-handle-inner">
                    <a hotrep="hp.banner.leftswitch" class="switch-control pre" href="javascript:;" title="上一条">
                        <b>上一条</b>
                    </a>
                    <a hotrep="hp.banner.rightswitch" class="switch-control next" href="javascript:;" title="下一条">
                        <b>下一条</b>
                    </a>
                </div>
            </div>
        </div>
        <div class="mod-inner">
            <div class="solution_text_img" id="surpermarket">
                <div class="solu_text_info">
                    <div class="solu_title">商城类小程序</div>
                    <div class="solu_text">
                        为各行业提供线上电商交易平台。支持单店商城、多店商城、商家入驻型商城、O2O新零售商城等多种商城模式。
                    </div>
                    <!-- <a class="solu_btn trackEvent" id="solution_shangcheng" style="cursor:pointer;" trackinnercategory="PageQQ" trackpage="solution"
                        tracknode="shangcheng">立即咨询</a> -->
                </div>
                <div class="solution_power">
                    <div class="power_title">
                        主要功能
                    </div>
                    <div class="power_info">
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/1.png">
                            </div>
                            <div class="power_name">
                                商品
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/2.png">
                            </div>
                            <div class="power_name">
                                订单
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/3.png">
                            </div>
                            <div class="power_name">
                                会员
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/4.png">
                            </div>
                            <div class="power_name">
                                积分体系
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/5.png">
                            </div>
                            <div class="power_name">
                                拼团
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/6.png">
                            </div>
                            <div class="power_name">
                                优惠活动
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/7.png">
                            </div>
                            <div class="power_name">
                                商家入驻
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/8.png">
                            </div>
                            <div class="power_name">
                                多级分销
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solu-bg">
            <div class="mod-inner">
                <div class="solution_text_img " id="show">
                    <div class="solution_power power_left">
                        <div class="power_title">
                            主要功能
                        </div>
                        <div class="power_info">
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/9.png">
                                </div>
                                <div class="power_name">
                                    公司简介
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/10.png">
                                </div>
                                <div class="power_name">
                                    企业服务展示
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/11.jpg">
                                </div>
                                <div class="power_name">
                                    产品展示
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/12.png">
                                </div>
                                <div class="power_name">
                                    预约留言
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/13.png">
                                </div>
                                <div class="power_name">
                                    新闻资讯
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/14.png">
                                </div>
                                <div class="power_name">
                                    案例展示
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/15.png">
                                </div>
                                <div class="power_name">
                                    加入我们信息
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/16.png">
                                </div>
                                <div class="power_name">
                                    客服功能
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="solu_text_info text_right">
                        <div class="solu_title">展示类小程序</div>
                        <div class="solu_text solu_text_right">
                            为企业展示需求的客户提供个性化解决方案，更加贴合实际满足企业的业务及服务需求。展示企业的服务、宣传企业品牌、为企业客户提供客服服务。
                        </div>
                        <!-- <a class="solu_btn solu_btn_right trackEvent" id="solution_zhanshi" style="cursor:pointer;" trackinnercategory="PageQQ" trackpage="solution"
                            tracknode="zhanshi">立即咨询</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="mod-inner">
            <div class="solution_text_img" id="blue-home">
                <div class="solu_text_info">
                    <div class="solu_title">上门服务类小程序</div>
                    <div class="solu_text">
                        为餐饮、美容美甲、洗护按摩等生活服务类企业提供上门服务类小程序解决方案。支持单店、多店模式。消费者在小程序用户端选择时间预约服务或人店员在小程序服务端管理自己的订单及核销，企业统一后台管理用户端数据及店员业绩管理。
                    </div>
                    <!-- <a class="solu_btn trackEvent" id="solution_shangmen" style="cursor:pointer;" trackinnercategory="PageQQ" trackpage="solution"
                        tracknode="shangmen">立即咨询</a> -->
                </div>
                <div class="solution_power">
                    <div class="power_title">
                        主要功能
                    </div>
                    <div class="power_info">
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/17.png">
                            </div>
                            <div class="power_name">
                                服务管理
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/18.png">
                            </div>
                            <div class="power_name">
                                技师管理
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/19.png">
                            </div>
                            <div class="power_name">
                                预约上门
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/20.png">
                            </div>
                            <div class="power_name">
                                订单核销
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/21.png">
                            </div>
                            <div class="power_name">
                                门店结算
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/22.png">
                            </div>
                            <div class="power_name">
                                会员积分
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/23.png">
                            </div>
                            <div class="power_name">
                                优惠券
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/24.png">
                            </div>
                            <div class="power_name">
                                营业统计
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solu-bg">
            <div class="mod-inner">
                <div class="solution_text_img " id="bike">
                    <div class="solution_power power_left">
                        <div class="power_title">
                            主要功能
                        </div>
                        <div class="power_info">
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/25.png">
                                </div>
                                <div class="power_name">
                                    用户下单
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/26.png">
                                </div>
                                <div class="power_name">
                                    系统派单
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/27.png">
                                </div>
                                <div class="power_name">
                                    用户签收
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/28.png">
                                </div>
                                <div class="power_name">
                                    优惠卷
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/29.png">
                                </div>
                                <div class="power_name">
                                    会员积分
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/30.png">
                                </div>
                                <div class="power_name">
                                    门店结算
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/31.png">
                                </div>
                                <div class="power_name">
                                    配送员业绩结算
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/32.png">
                                </div>
                                <div class="power_name">
                                    营业统计
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="solu_text_info text_right">
                        <div class="solu_title">外送类小程序</div>
                        <div class="solu_text solu_text_right">
                            为餐饮、鲜花预订、蛋糕定做等企业提供小程序解决方案。消费者在小程序用户端选择外送产品或服务下单，外送员在小程序外送员端接单及提供配送服务，企业后台管理用户端数据及销售业绩统计。
                        </div>
                        <!-- <a class="solu_btn solu_btn_right trackEvent" id="solution_waisong" style="cursor:pointer;" trackinnercategory="PageQQ" trackpage="solution"
                            tracknode="waisong">立即咨询</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="mod-inner">
            <div class="solution_text_img" id="food">
                <div class="solu_text_info">
                    <div class="solu_title">餐饮类小程序</div>
                    <div class="solu_text">
                        给餐饮类企业提供线上点餐预定，现场堂食扫码点餐，外送等功能定制。支持单店、多店形式。消费者扫描台面二维码或输入台号进入点餐流程，选取产品立即下单，出菜之后前台核销。用户端操作简单、后台查询订单详情及销售业绩，管理便捷。
                    </div>
                    <!-- <a class="solu_btn trackEvent" id="solution_canyin" style="cursor:pointer;" trackinnercategory="PageQQ" trackpage="solution"
                        tracknode="canyin">立即咨询</a> -->
                </div>
                <div class="solution_power">
                    <div class="power_title">
                        主要功能
                    </div>
                    <div class="power_info">
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/33.png">
                            </div>
                            <div class="power_name">
                                食堂点餐
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/34.png">
                            </div>
                            <div class="power_name">
                                外卖点餐
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/35.png">
                            </div>
                            <div class="power_name">
                                厨房订单
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/36.png">
                            </div>
                            <div class="power_name">
                                优惠买单
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/37.png">
                            </div>
                            <div class="power_name">
                                订单管理
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/38.png">
                            </div>
                            <div class="power_name">
                                门店结算
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/39.png">
                            </div>
                            <div class="power_name">
                                会员积分
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/40.png">
                            </div>
                            <div class="power_name">
                                营业额统计
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solu-bg">
            <div class="mod-inner">
                <div class="solution_text_img " id="education">
                    <div class="solution_power power_left">
                        <div class="power_title">
                            主要功能
                        </div>
                        <div class="power_info">
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/41.png">
                                </div>
                                <div class="power_name">
                                    课程购买
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/42.png">
                                </div>
                                <div class="power_name">
                                    课程预约
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/43.png">
                                </div>
                                <div class="power_name">
                                    上课签到
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/44.png">
                                </div>
                                <div class="power_name">
                                    课程管理
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/45.png">
                                </div>
                                <div class="power_name">
                                    学院管理
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/46.png">
                                </div>
                                <div class="power_name">
                                    在线学习
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/47.png">
                                </div>
                                <div class="power_name">
                                    在线答疑
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/48.png">
                                </div>
                                <div class="power_name">
                                    在线笔记
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="solu_text_info text_right">
                        <div class="solu_title">教育类小程序</div>
                        <div class="solu_text solu_text_right">
                            为教育培训类企业提供线上线下课程购买、课程预约、在线课程学习、线下课程培训、编制课程表、上课签到等功能的解决方案。
                        </div>
                        <!-- <a class="solu_btn solu_btn_right trackEvent" id="solution_jiaoyu" style="cursor:pointer;" trackinnercategory="PageQQ" trackpage="solution"
                            tracknode="jiaoyu">立即咨询</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="mod-inner">
            <div class="solution_text_img" id="orders">
                <div class="solu_text_info">
                    <div class="solu_title">接发单平台类小程序</div>
                    <div class="solu_text">
                        为各行业提供线上戳和交易，如共享类平台等。需求方发布需求并下单支付，系统派单或者提供服务方抢单并提供服务，服务完成需求方可对服务进行评价。
                    </div>
                    <!-- <a class="solu_btn trackEvent" id="solution_jiefadan" style="cursor:pointer;" trackinnercategory="PageQQ" trackpage="solution"
                        tracknode="jiefadan">立即咨询</a> -->
                </div>
                <div class="solution_power">
                    <div class="power_title">
                        主要功能
                    </div>
                    <div class="power_info">
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/49.png">
                            </div>
                            <div class="power_name">
                                用户发单
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/50.png">
                            </div>
                            <div class="power_name">
                                系统派单
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/51.png">
                            </div>
                            <div class="power_name">
                                用户管理
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/52.png">
                            </div>
                            <div class="power_name">
                                服务方抢单
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/53.png">
                            </div>
                            <div class="power_name">
                                订单管理
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/54.png">
                            </div>
                            <div class="power_name">
                                收入结算
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/55.png">
                            </div>
                            <div class="power_name">
                                营销活动
                            </div>
                        </div>
                        <div class="power_flex">
                            <div class="power_img">
                                <img src="/img/spg/56.png">
                            </div>
                            <div class="power_name">
                                数据统计
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solu-bg">
            <div class="mod-inner">
                <div class="solution_text_img " id="KTV">
                    <div class="solution_power power_left">
                        <div class="power_title">
                            主要功能
                        </div>
                        <div class="power_info">
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/57.png">
                                </div>
                                <div class="power_name">
                                    房间预订
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/58.png">
                                </div>
                                <div class="power_name">
                                    房间入住
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/59.png">
                                </div>
                                <div class="power_name">
                                    退房管理
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/60.png">
                                </div>
                                <div class="power_name">
                                    房态管理
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/61.png">
                                </div>
                                <div class="power_name">
                                    分店结算
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/62.png">
                                </div>
                                <div class="power_name">
                                    服务呼叫
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/63.png">
                                </div>
                                <div class="power_name">
                                    团购套餐
                                </div>
                            </div>
                            <div class="power_flex">
                                <div class="power_img">
                                    <img src="/img/spg/64.png">
                                </div>
                                <div class="power_name">
                                    会员管理
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="solu_text_info text_right">
                        <div class="solu_title">酒店、KTV类小程序</div>
                        <div class="solu_text solu_text_right">
                            为酒店、公寓、名宿、KTV等类行业实现房间预订、入住管理、退房核销等功能。支持单店、多店模式。强大的后台管理，优质的用户体验。
                        </div>
                        <!-- <a class="solu_btn solu_btn_right trackEvent" id="solution_jiudian" style="cursor:pointer;" trackinnercategory="PageQQ" trackpage="solution"
                            tracknode="jiudian">立即咨询</a> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="blank_100"></div>
        <!-- <script charset="UTF-8" src="/img/QiMoIMSDK.js"></script> -->
        <!-- <script charset="utf-8" src="/javascripts/v.js"></script> -->
        <script charset="UTF-8" src="/javascripts/json2.js"></script>
        <!-- <script src="/img/hm.js"></script> -->
        <!-- <script type="text/javascript">    function upInfo(data) {
            var page = window.location.href;
            $.post('/stat/event', {
                category: "联系",
                client: 'pc',
                action: data,
                page: page
            }, function () {

            })
        }
    </script> -->
        <!-- 侧栏 -->
        <div class="side-t-wrap " id="side_top " style="display: none; ">
            <div class="ic-box t-top " id="arr_top "></div>
            <a class="ic-box t-qq " target="_blank " href="http://wpa.qq.com/msgrd?v=3&amp;uin=943281721&amp;site=qq&amp;menu=yes ">
            </a>
            <div class="ic-box t-phone ">
                <div class="pop-box-wrap ">
                    <div class="pop-box phone-box ">TEL：021-60504342</div>
                </div>
            </div>

        </div>
        <!-- 底部 -->
        <div id="footer " class="footer " style="margin-top: 100px;">
            <div class="line "></div>
            <div class="center-cotar hf ">
                <div class="content-list ">
                    <div id="footer_address_box " class="address-box hf ">
                        <div class="btn-group fp ">
                            <div class="btn mc-active active ic-address " mc-efc-btn="address1 ">
                                <span>上海</span>
                            </div>
                            <!-- <div class="btn ic-address " mc-efc-btn="address2 "><span>宁波</span></div> -->
                        </div>
                        <div class="content-item address-content fp mc-active " mc-efc-page="address1 ">
                            <div class="headline ">联系我们</div>
                            <div class="info-list ">
                                <div class="item hf ic-footer1 ">
                                    <div class="label ftp ">地址：</div>
                                    <div class="content ftp ">上海市宝山区沪太路5355弄2幢3号楼520室（绿地广场）</div>
                                </div>
                                <div class="item hf ic-footer2 ">
                                    <div class="label ftp ">电话：</div>
                                    <div class="content ftp ">021-60504342 从先生:15221879161 杨小姐:15158808506</div>
                                </div>
                                <div class="item hf ic-footer3 ">
                                    <div class="label ftp ">QQ：</div>
                                    <div class="content ftp ">943281721</div>
                                </div>
                                <div class="item hf ic-footer4 ">
                                    <div class="label ftp ">商务合作：</div>
                                    <div class="content ftp ">943281721@qq.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="content-item address-content fp " mc-efc-page="address2 " style="display: none; ">
                            <div class="headline ">联系我们</div>
                            <div class="info-list ">
                                <div class="item hf ic-footer1 ">
                                    <div class="label ftp ">地址：</div>
                                    <div class="content ftp ">上海市宝山区沪太路5355弄2幢3号楼520室（绿地广场）</div>
                                </div>
                                <div class="item hf ic-footer2 ">
                                    <div class="label ftp ">电话：</div>
                                    <div class="content ftp ">021-60504342 从先生:15221879161 杨小姐:15158808506</div>
                                </div>
                                <div class="item hf ic-footer3 ">
                                    <div class="label ftp ">QQ：</div>
                                    <div class="content ftp ">553206752</div>
                                </div>
                                <div class="item hf ic-footer4 ">
                                    <div class="label ftp ">商务合作：</div>
                                    <div class="content ftp ">943281721@qq.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="content-item qrcode-wrap ">
                            <div class="pic-wrap ">
                                <img src="/img/img_qr.png ">
                            </div>
                        </div>
                        <div class="content-item link-box ">
                            <div class="headline ">相关链接</div>
                            <div class="lr-box ">
                                <p class="des ">
                                    <a href="http://shop.epwk.com/4141035/ " target="_blank ">擎光店铺</a> <br>
                                    <a href="http://www.mammothcode.com/Home/Solution/2016022028fb38c3 ">微信定制</a>  <br>
                                    <a href="http://www.mammothcode.com/WorkPage/OurWork/201602205c51aab4 ">案例中心</a>
                                </p>
                                <p class="des no-mr ">
                                    <a href="http://www.mammothcode.com/WorkPage/OurInformation/20160224e3287721 ">新闻中心</a> <br>
                                    <a href="http://www.mammothcode.com/Home/AboutUs/20160220583e6dfb ">关于我们</a>
                                </p>
                            </div>
                        </div> -->

                </div>
            </div>
            <div class="bottom-cotar hf ">
                <div class="center-cotar ">
                    <p>
                        <!-- Copyright © 2016 Mammothcode All Rights Reserved 浙ICP备 15025813号-1 -->
                        <br> 本网站设计已受版权保护。任何公司及个人不得复制，违者将依法追究责任，特此声明。
                    </p>
                    <!-- <div class="link-wrap hf ">
                            <div class="item fp ">友情链接：</div>
                                    <a href="http://www.zhuta.org/ " class="item fp " target="_blank ">助他自强</a>
                                    <a href="http://www.xiuchewenwen.com/ " class="item fp " target="_blank ">修车问问</a>
                                    <a href="http://www.zjzramc.com/ " class="item fp " target="_blank ">喆融</a>
                                    <a href="http://www.hzsanshan.com/ " class="item fp " target="_blank ">三善</a>
                                    <a href="http://www.micauto.cn/ " class="item fp " target="_blank ">微动</a>
    
                            
                        </div> -->
                    <div style="width:300px;margin:0 auto;padding-top: 15px; ">
                        <a target="_blank " href="#
                                                    " style="display:inline-block;text-decoration:none;height:20px;line-height:20px;
                                                    "><img src="/img/ghs.png " style="float:left; ">
                            <p style="float:left;height:20px;line-height:20px;margin:
                                                    0px 0px 0px 5px; color:#939393; ">沪ICP备17037423号-2</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/main.js"></script> -->
    <script type="text/javascript ">
        $('.choose').on('click', function(e) {
                console.log('this', this)
                if (this.className.indexOf('choose active') === -1) {
                    var dom = $('.choose');
                    for (var index = 0; index < dom.length; index++) {
                        dom[index].className = 'choose';
                    }
                    this.className = 'choose active';

                    if (this.innerText === '小程序') {
                        $($('.cont')[0]).show();
                        $($('.cont')[1]).hide();
                    } else {
                        $($('.cont')[1]).show();
                        $($('.cont')[0]).hide();
                    }
                }
            })
            //导航栏样式函数，判断距离顶部距离
        $(window).bind("scroll ", function() {
            var navH = $(window).scrollTop();
            var $head = $("#header ");
            var $sideTop = $(".side-t-wrap ");
            if (navH > 20) {
                $head.addClass("active ");
                $sideTop.fadeIn();
            };
            if (navH <= 20) {
                $head.removeClass("active ");
                $sideTop.fadeOut();
            };
        });

        //返回顶部
        $(".ic-box.t-top ").click(function() {
            $("body,html ").animate({
                scrollTop: 0
            }, 600);
        });

        $(function() {
            var page = {}; //页面对象
            page.deviceType = "PC "; //设备类型 PC 电脑端, APP 移动端, IEunder9 不支持CSS3的IE浏览器(包括IE6,7,8,9)
            //设备类型判断
            if (/ipad|iphone os|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/i.test(navigator.userAgent)) {
                page.deviceType = "APP "; //移动端
                if (/iphone os|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/i.test(navigator.userAgent)) {
                    page.deviceType = "Phone "; //手机端
                }
            } else {
                if (/(msie [6|7|8|9])/i.test(navigator.userAgent)) {
                    page.deviceType = "IEunder9 "; //IE9 以下
                } else {
                    page.deviceType = "PC "; //电脑端且支持CSS3
                }
            }

            if (page.deviceType == "IEunder9 ") {
                $("body ").addClass("ie8 ");
            }

        });
    </script>
    <!-- qq客服js -->
    <!-- <script type="text/javascript" src="/javascripts/7moorInit.js" async="async"></script> -->

    <script src="/javascripts/common.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?44da5d12a9e80899a2bb34a42b29a631";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- <script type="text/javascript" src="/img/online"></script> -->
</body>

</html>