<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>擎光信息-小程序开发等</title>
    <meta name="description" content="擎光信息有限公司致力于上海的技术研发,是全网价值开发服务商（官网搭建、平台开发、APP开发、微信开发、微信代运营、微信小程序、H5）">
    <meta name="Keywords" content="擎光信息有限公司、网站建设、APP开发、微信公众号、微信开发、微信代运营、微信小程序">
    <meta name="author" content="擎光信息有限公司">	
    <link rel="stylesheet" href="/stylesheets/web/common.css">
	<link rel="stylesheet" href="/stylesheets/web/style.css">
    <link href="/stylesheets/case.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
</head>

<body>

    <div class="wrap">
        <!-- head头部导航 -->
        <div class="head-nav" id="header">
            <div class="nav-cotar hf cfa">
                <div class="logo-box fp lfp">
                    <!-- <img src="/img/logo-green.png" style=" width: 0; height: 0; overflow: hidden; display: block; visibility: hidden; "> -->
                    <p style=" width: 0; height: 0; overflow: hidden; display: block; visibility: hidden; ">擎光信息科技</p>
                </div>
                <div class="nav-box  fp rfp">
                    <a href="/" class="item ">首页</a>
                    <a href="#" class="item server active">服务
                        <div class="subTitleBox">
                            <p class="subTitle aa">微信公众号开发</p>
                            <p class="subTitle bb">小程序开发</p>
                            <p class="subTitle cc">公众号代运营</p>
                            <p class="subTitle dd">PC端网站制作</p>
                        </div>
                    </a>
                    <a href="/case" class="item ">案例</a>
                    <a href="/price" class="item">资费</a>
                    <a href="/join" class="item ">加盟</a>

                    <a href="tel:021-60504342" class="item link-phone ic-linkphone">
                        <span>021-60504342</span>
                    </a>
                </div>
            </div>
        </div>


        <h1>营销型网站建设</h1>
        <div class="banner">
            <div class="advan">
                <p class="title">我们的优势</p>
                <p class="des">多年的营销型网站开发经验，在不断对方案优化的过程中搭建了“创意+综合+营销”一体化的服务模式 ... ...</p>
                <div class="con">
                    <ul class="clearfix">
                        <li>
                            <span class="name">搜索引擎友好</span>
                            <p class="info">
                                擎光信息有自己的SEO团队,在为您制作网站的过程中，会充分将搜索引擎的友好性合并到开发代码编写中，让您的网站在排名过程中具有良好的适应性。
                            </p>
                        </li>
                        <li>
                            <span class="name">针对性强</span>
                            <p class="info">
                                会针对不同个人或者企业的实际情况，将客户想要展现的内容，营销的产品融入到网站的模型当中，从而大大提高了网站的价值。
                            </p>
                        </li>
                        <li>
                            <span class="name">个性化强</span>
                            <p class="info">
                                满足您的特定使用习惯的要求，页面设计的规划，同时可根据您的要求改进、升级网站。
                            </p>
                        </li>
                        <li>
                            <span class="name">使用方便</span>
                            <p class="info">
                                完全根据个人或企业现有的工作流程编制程序，用户只需具备基本的计算机使用知识，就可以自如的使用，不必进行复杂的培训。
                            </p>
                        </li>
                        <li>
                            <span class="name">服务周到</span>
                            <p class="info">
                                在网站使用过程中出现的问题，您可即时咨询擎光信息开发人员进行调整解决。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product">
            <p class="title">产品服务</p>
            <p class="desc">
                擎光信息科技有限公司专注于营销型网站建设，我们致力于向每位顾客提供定制类界面设计与功能开发服务，私人订制，让您的网站更加与众不同。
                <br>服务内容涵盖了营销型网站、定制建站、移动建站、商城建站。
            </p>
            <div class="con">
                <ul>
                    <li>
                        <img src="/img/web/pro1.jpg" alt="营销型网站建设">
                        <p class="name">营销网站</p>
                        <p class="info">利于搜索引擎优化排名，企业营销必备</p>
                    </li>
                    <li>
                        <img src="/img/web/pro2.jpg" alt="营销型网站建设">
                        <p class="name">定制网站</p>
                        <p class="info">领会您的想法，建出您心里的世界</p>
                    </li>
                    <li>
                        <img src="/img/web/pro3.jpg" alt="营销型网站建设">
                        <p class="name">手机网站</p>
                        <p class="info">移动营销，从手机网站建设开始</p>
                    </li>
                    <li>
                        <img src="/img/web/pro4.jpg" alt="营销型网站建设">
                        <p class="name">商城网站</p>
                        <p class="info">开启商城，迈出你的第一步</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="money">
            <p class="title">
                网站建设套餐
            </p>
            <table class="con">
                <thead>
                    <tr>
                        <th>网站说明</th>
                        <th>基础经济型</th>
                        <th>营销展示型</th>
                        <th>移动手机站</th>
                        <th>商务营销型</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="name">
                            适用类型
                        </td>
                        <td>网站要求不高仅用于简单宣传，特点：制作周期短、建站费用低、网站维护简单</td>
                        <td>适用于个体商户、公司企业想通过建立简单架构的网站对自身进行宣传介绍</td>
                        <td>适用企业多终端宣传、营销型、高端企业。</td>
                        <td>适用中小型企业，以详尽、充实的内容展示,页面美观实用！包括 PC+移动端+微信站。</td>
                    </tr>
                    <tr>
                        <td class="name">
                            网站设计
                        </td>
                        <td>客户选择一套适合自身需求的网站模板----DIV+CSS布局、采用PHP编程后台。</td>
                        <td>标准化企业网站风格设计、DIV+CSS布局、js、jq基本交互效果、采用PHP编程后台。</td>
                        <td>移动端网站风格设计、HTML5+CSS3布局、手机js交互基本功能，不同屏幕尺寸兼容。</td>
                        <td>营销推广网站风格设计----DIV+CSS布局、精美js、jq、css3动画效果、采用PHP编程后台。</td>
                    </tr>
                    <tr>
                        <td class="name">
                            域名网址
                        </td>
                        <td colspan="4" style="text-align:center;line-height:70px;font-size:18px;">.COM/.NET/.CN域名任选其一</td>
                    </tr>
                    <tr>
                        <td class="name">
                            网站栏目
                        </td>
                        <td>
                            <span>企业简介</span>
                            <span>产品展示</span>
                            <span>新闻动态</span>
                            <span>招聘页面</span>
                            <span>客服咨询</span>
                            <span>百度地图等</span>
                        </td>
                        <td>
                            <span>企业简介</span>
                            <span>产品展示</span>
                            <span>新闻动态</span>
                            <span>招聘页面</span>
                            <span>客服咨询</span>
                            <span>留言咨询等</span>
                        </td>
                        <td>
                            <span>企业简介</span>
                            <span>产品展示</span>
                            <span>服务项目</span>
                            <span>成功案例</span>
                            <span>联系我们</span>
                            <span>访客留言等</span>
                        </td>
                        <td>
                            <span>企业简介</span>
                            <span>产品展示</span>
                            <span>新闻动态</span>
                            <span>留言系统</span>
                            <span>客服咨询</span>
                            <span>站内搜索等</span>
                        </td>
                    </tr>
                    <tr class="cen">
                        <td class="name">制作周期</td>
                        <td>10-15个工作日</td>
                        <td>15-20个工作日</td>
                        <td>15-20个工作日</td>
                        <td>20-25个工作日</td>
                    </tr>
                    <tr>
                        <td class="name">售后服务</td>
                        <td colspan="4" style="text-align:center;line-height:70px;font-size:18px;">
                            搜索引擎提交；后台操作指导；网站运行维护；定期数据备份；支持少量图文处理
                        </td>
                    </tr>
                    <tr class="price cen">
                        <td class="name" style="color:#303030">参考价格</td>
                        <td>￥880</td>
                        <td>￥1880</td>
                        <td>￥1880</td>
                        <td>￥3880</td>
                    </tr>
                    <tr class="cen">
                        <td class="name">付款方式</td>
                        <td colspan="4">本地客户上门签订合同时需支付不少于建站总价80%的现金、银行转账、现金及转账支付</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="service">
            <div class="title">售后服务</div>
            <div class="sell">
                <div class="sellItem">
                    <div class="sellItem_bg">
                        <div id="mainBox">
                            <div id="content" style="width: 908px;">
                                <ul class="sellList clearfix">
                                    <li>
                                        <span>在线咨询</span>
                                        <p>擎光信息将为您热忱解答所有关于网站的相关问题，包括但不限于网络基础知识、网站建设知识、域名及解析知识，只要您有疑问，尽可第一时间拨通我们的电话或邮件、QQ进行咨询，我们建议您能够理解的方式进行周到解答。</p>
                                    </li>
                                    <li class="right">
                                        <span>功能调整</span>
                                        <p>在擎光信息为您制作网站的功能框架内，我们可以为您进行功能微调，如网页元素的位置变更、加减输入框、现有功能模块显示调整等，但涉及到网站改版、新增功能等，我们将与您讨论具体的需求，并签订新的或补充协议来进行开发。</p>
                                    </li>
                                    <li>
                                        <span>数据调整</span>
                                        <p>在擎光信息为您制作网站的数据框架内，我们可以为您进行数据字段的删减或调整，同时显示页面也会进行更改。如需增加数据字段，我们将根据您的需求进行评估，牵涉到较大工作量时，我们将与您具体讨论，并签订新的或补充协议进行开发。</p>
                                    </li>
                                    <li class="right">
                                        <span>问题解决</span>
                                        <p>如果您在网站的日常使用过程中发现问题，请立刻联系擎光信息，我们将为您或协助您以最快速度进行解决，如果涉及到第三方供应商（如空间、域名等），我们同样付出最大努力来解决问题。</p>
                                    </li>
                                </ul>
                                <ul class="fuwuList">
                                    <li>
                                        <span>LOGO更换</span>
                                        <p>更换网站公司logo，不包含制作。</p>
                                    </li>
                                    <li>
                                        <span>内容更新</span>
                                        <p>日常内容填充，若无特别要求每周更新一次。</p>
                                    </li>
                                    <li>
                                        <span>黑链检测</span>
                                        <p>检查您的网站每个页面是否被挂上了黑链接。</p>
                                    </li>
                                    <li>
                                        <span>程序备份</span>
                                        <p>每月备份一次程序包含上传过的所有图片。</p>
                                    </li>
                                    <li>
                                        <span>乱码修复</span>
                                        <p>如您不慎修改或删除掉文件或者代码时我们负责修复。</p>
                                    </li>
                                    <li>
                                        <span>在线客服</span>
                                        <p>如在线QQ等客服系统的一般修改。</p>
                                    </li>
                                    <li>
                                        <span>网站转移</span>
                                        <p>若您想要转移网站空间，我们免费给您转移程序。</p>
                                    </li>
                                    <li>
                                        <span>301重定向</span>
                                        <p>主要是对顶级域名301重定向到www的域名以方便优化。</p>
                                    </li>
                                    <li>
                                        <span>页面静态化</span>
                                        <p>如有seo需要我们可对您的网站进行伪静态或真静态处理。</p>
                                    </li>
                                    <li>
                                        <span>favicon制作</span>
                                        <p>即在浏览器中你网址前面的小图标制作。</p>
                                    </li>
                                    <li>
                                        <span>公司信息修改</span>
                                        <p>常用信息，若不会修改可交由我们。</p>
                                    </li>
                                    <li>
                                        <span>图片修改</span>
                                        <p>网站上所有图片的一般修改，若要大改似复杂程度而定。</p>
                                    </li>
                                    <li>
                                        <span>病毒防范</span>
                                        <p>防止被恶意攻击，及被挂或上传木马病毒。</p>
                                    </li>
                                    <li>
                                        <span>数据库备份</span>
                                        <p>对网站的数据库，每月备份一次。</p>
                                    </li>
                                    <li>
                                        <span>流量统计报告</span>
                                        <p>每月发送一次网站的访问情况统计，并附带分析。</p>
                                    </li>
                                    <li>
                                        <span>常用替换</span>
                                        <p>如网站关键词替换，公司信息等字符替换，图片替换。</p>
                                    </li>
                                    <li>
                                        <span>关键字提交</span>
                                        <p>主要向百度，google等各大搜索引擎提交以加快收录。</p>
                                    </li>
                                    <li>
                                        <span>404页面制作</span>
                                        <p>制作404自定义错误页面，对搜索引擎更加友好。</p>
                                    </li>
                                    <li>
                                        <span>robots重写</span>
                                        <p>主要是针对搜索引擎的，若您哪些页面不想被收录可做设置。</p>
                                    </li>
                                </ul>
                            </div>
                            <div style="width: 12px; height: 518px; left: 908px; position: absolute; background: rgb(204, 204, 204);">
                                <div class="scrollDiv" style="height: 233px;">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank_100"></div>
        <!-- <script charset="UTF-8" src="/img/QiMoIMSDK.js"></script> -->
        <!-- <script charset="utf-8" src="/javascripts/v.js"></script> -->
        <script charset="UTF-8" src="/javascripts/json2.js"></script>
        <!-- <script src="/img/hm.js"></script> -->
        <!-- <script type="text/javascript">    function upInfo(data) {
            var page = window.location.href;
            $.post('/stat/event', {
                category: "联系",
                client: 'pc',
                action: data,
                page: page
            }, function () {

            })
        }
    </script> -->
        <!-- 侧栏 -->
        <div class="side-t-wrap " id="side_top " style="display: none; ">
            <div class="ic-box t-top " id="arr_top "></div>
            <a class="ic-box t-qq " target="_blank " href="http://wpa.qq.com/msgrd?v=3&amp;uin=3229113314&amp;site=qq&amp;menu=yes ">
            </a>
            <div class="ic-box t-phone ">
                <div class="pop-box-wrap ">
                    <div class="pop-box phone-box ">TEL：021-60504342</div>
                </div>
            </div>

        </div>
        <!-- 底部 -->
        <div id="footer " class="footer " style="margin-top: 100px;">
            <div class="line "></div>
            <div class="center-cotar hf ">
                <div class="content-list ">
                    <div id="footer_address_box " class="address-box hf ">
                        <div class="btn-group fp ">
                            <div class="btn mc-active active ic-address " mc-efc-btn="address1 ">
                                <span>上海</span>
                            </div>
                            <!-- <div class="btn ic-address " mc-efc-btn="address2 "><span>宁波</span></div> -->
                        </div>
                        <div class="content-item address-content fp mc-active " mc-efc-page="address1 ">
                            <div class="headline ">联系我们</div>
                            <div class="info-list ">
                                <div class="item hf ic-footer1 ">
                                    <div class="label ftp ">地址：</div>
                                    <div class="content ftp ">上海市宝山区沪太路5355弄2幢3号楼520室（绿地广场）</div>
                                </div>
                                <div class="item hf ic-footer2 ">
                                    <div class="label ftp ">电话：</div>
                                    <div class="content ftp ">021-60504342  从先生:15221879161  杨小姐:15158808506</div>
                                </div>
                                <div class="item hf ic-footer3 ">
                                    <div class="label ftp ">QQ：</div>
                                    <div class="content ftp ">3229113314</div>
                                </div>
                                <div class="item hf ic-footer4 ">
                                    <div class="label ftp ">商务合作：</div>
                                    <div class="content ftp ">3229113314@qq.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="content-item address-content fp " mc-efc-page="address2 " style="display: none; ">
                            <div class="headline ">联系我们</div>
                            <div class="info-list ">
                                <div class="item hf ic-footer1 ">
                                    <div class="label ftp ">地址：</div>
                                    <div class="content ftp ">上海市宝山区沪太路5355弄2幢3号楼520室（绿地广场）</div>
                                </div>
                                <div class="item hf ic-footer2 ">
                                    <div class="label ftp ">电话：</div>
                                    <div class="content ftp ">021-60504342  从先生:15221879161  杨小姐:15158808506</div>
                                </div>
                                <div class="item hf ic-footer3 ">
                                    <div class="label ftp ">QQ：</div>
                                    <div class="content ftp ">553206752</div>
                                </div>
                                <div class="item hf ic-footer4 ">
                                    <div class="label ftp ">商务合作：</div>
                                    <div class="content ftp ">943281721@qq.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="content-item qrcode-wrap ">
                            <div class="pic-wrap ">
                                <img src="/img/img_qr.png ">
                            </div>
                        </div>
                        <div class="content-item link-box ">
                            <div class="headline ">相关链接</div>
                            <div class="lr-box ">
                                <p class="des ">
                                    <a href="http://shop.epwk.com/4141035/ " target="_blank ">擎光店铺</a> <br>
                                    <a href="http://www.mammothcode.com/Home/Solution/2016022028fb38c3 ">微信定制</a>  <br>
                                    <a href="http://www.mammothcode.com/WorkPage/OurWork/201602205c51aab4 ">案例中心</a>
                                </p>
                                <p class="des no-mr ">
                                    <a href="http://www.mammothcode.com/WorkPage/OurInformation/20160224e3287721 ">新闻中心</a> <br>
                                    <a href="http://www.mammothcode.com/Home/AboutUs/20160220583e6dfb ">关于我们</a>
                                </p>
                            </div>
                        </div> -->

                </div>
            </div>
            <div class="bottom-cotar hf ">
                <div class="center-cotar ">
                    <p>
                        <!-- Copyright © 2016 Mammothcode All Rights Reserved 浙ICP备 15025813号-1 -->
                        <br> 本网站设计已受版权保护。任何公司及个人不得复制，违者将依法追究责任，特此声明。
                    </p>
                    <!-- <div class="link-wrap hf ">
                            <div class="item fp ">友情链接：</div>
                                    <a href="http://www.zhuta.org/ " class="item fp " target="_blank ">助他自强</a>
                                    <a href="http://www.xiuchewenwen.com/ " class="item fp " target="_blank ">修车问问</a>
                                    <a href="http://www.zjzramc.com/ " class="item fp " target="_blank ">喆融</a>
                                    <a href="http://www.hzsanshan.com/ " class="item fp " target="_blank ">三善</a>
                                    <a href="http://www.micauto.cn/ " class="item fp " target="_blank ">微动</a>
    
                            
                        </div> -->
                    <div style="width:300px;margin:0 auto;padding-top: 15px; ">
                        <!-- <a target="_blank " href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002752
                                                    " style="display:inline-block;text-decoration:none;height:20px;line-height:20px;
                                                    "><img src="/img/ghs.png " style="float:left; "><p style="float:left;height:20px;line-height:20px;margin:
                                                    0px 0px 0px 5px; color:#939393; ">浙公网安备 33010502002752号</p></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-3.0.0.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/main.js"></script> -->
    <script type="text/javascript ">
        $('.choose').on('click', function(e){
            console.log('this', this)
            if(this.className.indexOf('choose active') === -1){
                var dom = $('.choose');
                for (var index = 0; index < dom.length; index++) {
                    dom[index].className = 'choose';
                }
                this.className = 'choose active';

                if(this.innerText === '小程序'){
                    $($('.cont')[0]).show();
                    $($('.cont')[1]).hide();
                }
                else{
                    $($('.cont')[1]).show();
                    $($('.cont')[0]).hide();
                }
            }
        })
        //导航栏样式函数，判断距离顶部距离
        $(window).bind("scroll ", function () {
            var navH = $(window).scrollTop();
            var $head = $("#header ");
            var $sideTop = $(".side-t-wrap ");
            if (navH > 20) {
                $head.addClass("active ");
                $sideTop.fadeIn();
            };
            if (navH <= 20) {
                $head.removeClass("active ");
                $sideTop.fadeOut();
            };
        });

        //返回顶部
        $(".ic-box.t-top ").click(function () {
            $("body,html ").animate({ scrollTop: 0 }, 600);
        });

        $(function () {
            var page = {}; //页面对象
            page.deviceType = "PC "; //设备类型 PC 电脑端, APP 移动端, IEunder9 不支持CSS3的IE浏览器(包括IE6,7,8,9)
            //设备类型判断
            if (/ipad|iphone os|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/i.test(navigator.userAgent)) {
                page.deviceType = "APP "; //移动端
                if (/iphone os|midp|rv:1.2.3.4|ucweb|android|windows ce|windows mobile/i.test(navigator.userAgent)) {
                    page.deviceType = "Phone "; //手机端
                }
            } else {
                if (/(msie [6|7|8|9])/i.test(navigator.userAgent)) {
                    page.deviceType = "IEunder9 "; //IE9 以下
                } else {
                    page.deviceType = "PC "; //电脑端且支持CSS3
                }
            }

            if (page.deviceType == "IEunder9 ") {
                $("body ").addClass("ie8 ");
            }

        });
    </script>
    <!-- qq客服js -->
    <!-- <script type="text/javascript" src="/javascripts/7moorInit.js" async="async"></script> -->

    <script src="/javascripts/common.js"></script>
	<script src="/javascripts/web/index.js"></script>
    <!-- <script type="text/javascript" src="/img/online"></script> -->
</body>

</html>