.subTitle{
    color: black !important;
}

.subTitle:hover{
    color: #54b74a !important
}

.subTitleBox{
    position: fixed;
    /* left: 500p; */
    display: none;
    background: #fff !important;
    /* right: 40%; */
    line-height: 35px;    
    padding: 0 20px 20px 20px;
    margin-left: -20px;
}