@font-face {
    font-family:qcloud-num-thin;src:url(../font/qcloud-num-thin.eot);src:url(../font/qcloud-num-thin.eot?#font-spider) format('embedded-opentype'),url(../font/qcloud-num-thin.woff) format('woff'),url(../font/qcloud-num-thin.ttf) format('truetype'),url(../font/qcloud-num-thin.svg) format('svg');font-weight:400;font-style:normal;
}

@-webkit-keyframes gogo {
    to{ -webkit-transform:translate(-1px,-1px); transform:translate(-1px,-1px);
        }
}
@keyframes gogo {
    to{ -webkit-transform:translate(-1px,-1px); transform:translate(-1px,-1px);
        }
}

.qc-navigation {
    position: absolute;
    z-index: 100;
    height: 65px;
    width: 100%;
}

.sr-only,.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.body {
    background: #fff;
    margin: 0 auto;
    min-width: 320px
}

.mod-inner {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto
}

.qc-btn {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    line-height: 26px;
    overflow: visible;
    cursor: pointer;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 2px;
    transition: background-color .15s
}

.qc-btn:active,.qc-btn:hover {
    background-color: #2277da;
    border-color: #2277da
}

.qc-btn:focus {
    background-color: #2277da;
    border-color: #2277da;
    outline: 0
}

.qc-btn.disabled,.qc-btn.disabled:active,.qc-btn.disabled:focus,.qc-btn.disabled:hover {
    color: #fff;
    border-color: #fff;
    opacity: .4;
    filter: Alpha(opacity=40);
    background-color: transparent;
    cursor: default
}

.qc-btn-1 {
    background-color: #0071ce;
    color: #fff
}

.mod-wrap {
    padding: 80px 0;
    min-width: 320px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mod-wrap.bg-color-1 {
    background-color: #fff;
}

.mod-wrap .mod-title {
    color: #333;
    text-align: center;
}

.mod-wrap .mod-title .title {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
        color:#303233;
}

.mod-wrap .mod-title .des-text {
    font-size: 18px;
    line-height: 1.5em;
    color:#868684;
}

.mod-wrap .mod-title .qc-btn {
    width: 180px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    margin-top: 35px
}

.mod-wrap .mod-title .qc-btn:active,.mod-wrap .mod-title .qc-btn:focus {
    border-color: #2277da;
    color: #fff
}

.mod-wrap .mod-content {
    margin-top: 60px
}

.mod-wrap .vertical-text .title {
    font-size: 24px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: middle
}

.mod-wrap .vertical-text .title .icon {
    display: inline-block;
    vertical-align: middle
}

.mod-wrap .vertical-text .des-text {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    color: rgba(255,255,255,.8)
}

.mod-wrap .vertical-text .des-text .qc-btn {
    margin-top: 30px
}

.d-tb {
    display: table;
    width: 100%;
    table-layout: fixed
}

.d-tbc {
    display: table-cell
}

.qc-grids {
    font-size: 0;
}

.qc-grids [class*=qc-unit] {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ct-slot {
    margin-left: 10px;
    margin-right: 10px
}

.qc-grids.with-slot [class*=qc-unit] {
    padding-left: 10px;
    padding-right: 10px
}

.qc-unit-1-24 {
    width: 4.1667%
}

.qc-unit-2-24 {
    width: 8.3333%
}

.qc-unit-3-24 {
    width: 12.5%
}

.qc-unit-4-24 {
    width: 16.6667%
}

.qc-unit-5-24 {
    width: 20.8333%
}

.qc-unit-6-24 {
    width: 20%
}

.qc-unit-7-24 {
    width: 29.1667%
}

.qc-unit-8-24 {
    width: 33.3333%
}

.qc-unit-9-24 {
    width: 37.5%
}

.qc-unit-10-24 {
    width: 41.6667%
}

.qc-unit-11-24 {
    width: 45.8333%
}

.qc-unit-12-24 {
    width: 50%
}

.qc-unit-13-24 {
    width: 54.1667%
}

.qc-unit-14-24 {
    width: 58.3333%
}

.qc-unit-15-24 {
    width: 62.5%
}

.qc-unit-16-24 {
    width: 66.6667%
}

.qc-unit-17-24 {
    width: 70.8333%
}

.qc-unit-18-24 {
    width: 75%
}

.qc-unit-19-24 {
    width: 79.1667%
}

.qc-unit-20-24 {
    width: 83.3333%
}

.qc-unit-21-24 {
    width: 87.5%
}

.qc-unit-22-24 {
    width: 91.6667%
}

.qc-unit-23-24 {
    width: 95.8333%
}

.qc-unit-24-24 {
    width: 100%
}

.qc-unit-1-5 {
    width: 20%
}

.qc-unit-3-5 {
    width: 60%
}

.qc-unit-4-5 {
    width: 80%
}

.mod-hero {
    background-repeat: no-repeat;
    background-position: top center
}

.mod-hero .hero-inner {
    margin: 0 auto;
    position: relative;
    min-width: 320px;
    text-align: center;
    overflow: hidden
}

.mod-hero .hero-img {
    font-size: 0;
    height: 500px;
    position: relative
}

.mod-hero .hero-img .img-item {
    display: inline-block;
    display: none;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(img/home/hero-image-sample.png)
}

.mod-hero .hero-img .img-item.active {
    display: inline-block;
    position: relative
}

.hero-handle {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.mod-hero:hover .hero-handle {
    opacity: 1;
    filter: alpha(opacity=100)
}

.hero-handle-inner {
    position: absolute;
    width: 100%;
    left: -50%
}

.mod-hero .hero-tab {
    position: absolute;
    margin: 0 auto;
    left: 0;
    bottom: 5%;
    z-index: 99;
    width: 100%;
    text-align: center
}

.mod-hero .hero-tab li {
    margin: 0 3px;
    display: inline-block
}

.mod-hero .hero-tab li a {
    display: inline-block;
    width: 13px;
    height: 3px;
    padding: 5px 0
}
.listLeft{
    left:0px !important;
}

.mod-hero .hero-tab li a i {
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #fff;
    background: rgba(255,255,255,.3)
}

.mod-hero .hero-tab .selected a i {
    background-color: #fff;
    opacity: 1
}

.mod-hero .switch-control {
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 60px;
    height: 200px;
    line-height: 200px;
    margin-top: -100px
}

.mod-hero .switch-control.pre {
    left: 0;
    text-align: left
}

.mod-hero .switch-control.next {
    right: 0;
    text-align: right
}

.mod-hero .switch-control b {
    display: inline-block;
    width: 22px;
    height: 41px;
    overflow: hidden;
    line-height: 99;
    vertical-align: middle;
}

.mod-hero .switch-control.pre b {
    background-image: url(../img/index-201610141724.png);
    background-position: -252px -79px
}

.mod-hero .switch-control.next b {
    background-image: url(../img/index-201610141724.png);
    background-position: -105px -158px
}

.mod-hero .hero-ct {
    position: absolute;
    top: 26%
}

.mod-hero .hero-text {
    position: absolute;
    top: 0;
    width: 90%;
    height: 100%;
    max-width: 1050px;
    min-width: 320px;
    text-align: left;
    left: 50%;
    color: #fff
}

.mod-hero .hero-text-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -50%
}

.mod-hero .hero-text-inner:hover {
    cursor: pointer
}

.mod-hero .hero-text .hero-ct h2 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 2.5%
}

.mod-hero .hero-text .hero-ct .piece {
    margin-right: 30px
}

.mod-hero .hero-text .hero-ct .des-text {
    font-size: 20px;
    line-height: 36px
}

.mod-hero .hero-text .hero-btn {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    width: 18.33%;
    height: 43px;
    line-height: 43px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    bottom: 24%
}

.mod-hero .hero-text .hero-btn:hover {
    background-color: #fff;
    color: #333
}

.mod-hero .hero-ct-mobile {
    display: none;
    color: #fff;
    bottom: 40px;
    width: 100%;
    text-align: center;
    position: absolute
}

.mod-hero .hero-ct-mobile h2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 2.5%
}

.mod-hero .hero-ct-mobile .des-text {
    font-size: 16px
}

.mod-activity {
    padding: 0
}

.mod-activity .mod-inner {
    max-width: 1200px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto
}

.mod-activity .activity-list {
    font-size: 0
}

.mod-activity .activity-list li {
    display: inline-block;
    white-space: nowrap;
    width: 25%;
    height: 140px;
    vertical-align: top;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 15px;
    position: relative
}

.mod-activity .activity-list li a {
    display: block;
    height: 100%
}

.mod-activity .activity-list li:after {
    display: block;
    content: '';
    position: absolute;
    height: 80px;
    width: 1px;
    border-left: #e2e2e2 1px solid;
    top: 30px;
    left: 0
}

.advertising-icon {
    width: 110px;
    height: 110px;
    margin-right: 5px;
    transition: all .2s linear
}

.advertising-icon img {
    display: block;
    max-width: 100%
}

.activity-list li .advertising-text,.advertising-icon {
    display: inline-block;
    vertical-align: middle
}

.activity-list li .advertising-text {
    max-width: 50%
}

.activity-list li .advertising-text .title {
    font-size: 16px;
    color: #333;
    padding-bottom: 5px;
    transition: all .2s linear
}

.activity-list li .advertising-text .title em {
    color: #ff9102;
    transition: all .2s linear
}

.activity-list li .advertising-text .title i {
    margin-left: 5px;
    margin-top: -3px
}

.activity-list li .advertising-text .content {
    font-size: 14px;
    color: #666;
    word-break: break-all;
    white-space: normal
}

.activity-list li:hover .advertising-icon {
    transform: translate3d(0,-2px,0)
}

.activity-list li:hover .advertising-text .title,.activity-list li:hover .advertising-text .title em {
    color: #2277da
}

.mod-activity .activity-list li:first-child:after {
    display: none
}

.advertising-icon-hot,.advertising-icon-new {
    width: 29px;
    height: 13px;
    display: inline-block;
    vertical-align: middle
}

.advertising-icon-hot {
    background-image: url(../img/index-201610141724-svg.png);
    background: -webkit-image-set(url(../img/index-201610141724-svg.png)1x,url(../img/index-201610141724.svg) 2x);
    background-position: 0 0;
    background-size: 29px 26px
}

.advertising-icon-new {
    background-image: url(../img/index-201610141724-svg.png);
    background: -webkit-image-set(url(../img/index-201610141724-svg.png)1x,url(../img/index-201610141724.svg) 2x);
    background-position: 0 -13px;
    background-size: 29px 26px;
}

.mod-wrap-product {
    /*background-image: url(../img/home/mod-bg.png);*/
    background-position: top center;
    background-repeat: no-repeat
}

.mod-wrap-product .unit-box {
    background-color: #fff;
    height: 122px;
    padding-top: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
}

.mod-wrap-product .unit-box:hover:hover {
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,.1);
    box-shadow: 0 3px 20px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0)
}

.mod-wrap-product .pd-item-name {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 100%;
    text-align: center
}

.mod-wrap-product .pd-item-name h3 {
    font-size: 18px;
    color: #333;
    margin-top: 22px;
    font-weight: 400
}

.mod-wrap-product .pd-img {
    max-width: 81%
}

.mod-wrap-product .pd-item-sub {
    display: inline-block;
    width: 52%;
    vertical-align: top;
    padding-left: 5%
}

.mod-wrap-product .pd-item-sub .sub-name {
    color: #666;
    font-size: 14px;
    line-height: 32px
}

.mod-wrap-product .pd-item-sub .sub-name:hover {
    color: #2277da
}

.mod-wrap-product .m-more {
    margin-top: 10px;
    display: none;
    margin-left: 10px;
    margin-right: 10px
}

.mod-wrap-product .m-more .links {
    color: #2277da;
    font-size: 14px;
    text-align: center;
    background: #fff;
    display: block;
    height: 30px;
    line-height: 30px
}

.mod-wrap-product .mobile-pt {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    display: none
}

.mod-wrap-product .mobile-pt .pt-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.mod-wrap-product .mobile-pt .pt-item:last-child {
    margin-bottom: 0
}

.mod-wrap-product .mobile-pt .pt-title {
    padding-left: 5px;
    padding-right: 5px
}

.mod-wrap-product .mobile-pt .pt-title a {
    -webkit-tap-highlight-color: transparent
}

.mod-wrap-product .mobile-pt .pt-category {
    color: #000;
    font-size: 16px;
    height: 50px;
    position: relative;
    display: block
}

.mod-wrap-product .mobile-pt .pt-category:before {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0
}

.mod-wrap-product .mobile-pt .pt-category .pd-img {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px
}

.mod-wrap-product .mobile-pt .pt-category .text {
    display: inline-block;
    vertical-align: middle
}

.mod-wrap-product .mobile-pt .pt-item .arr {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 17px;
    height: 10px;
    background-image: url(img/home/responsive/arr-down.png);
    background-size: 17px auto
}

.mod-wrap-product .mobile-pt .pt-item-open .arr {
    background-image: url(img/home/responsive/arr-up.png)
}

.mod-wrap-product .mobile-pt .pt-ct {
    border-top: 1px solid #e2e2e2;
    display: none;
    padding: 15px 5px 5px
}

.mod-wrap-product .mobile-pt .pt-item-open .pt-ct {
    display: block
}

.mod-wrap-product .mobile-pt .pt-ct .ct-item {
    margin-bottom: 10px
}

.mod-wrap-product .mobile-pt .sub-title {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px
}

.mod-wrap-product .mobile-pt .sub-title h4 {
    color: #333;
    font-size: 14px;
    font-weight: 400
}

.mod-wrap-product .mobile-pt .sub-title .des-text {
    color: #999;
    font-size: 12px;
    line-height: 20px
}

.mod-wrap-solution {
    /*padding-top: 95px;
    padding-bottom: 83px;*/
    height: 596px;
    position: relative
}

.mod-wrap-solution .solution-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: cover
}

.mod-wrap-solution.solution-game .solution-bg {
    background-image: url(img/home/solution/game/bg.jpg)
}

.mod-wrap-solution.solution-medical .solution-bg {
    background-image: url(img/home/solution/medical/bg.jpg)
}

.mod-wrap-solution.solution-finance .solution-bg {
    background-image: url(img/home/solution/finance/bg.jpg)
}

.mod-wrap-solution.solution-e-commerce .solution-bg {
    background-image: url(img/home/solution/e-commerce/bg.jpg)
}

.mod-wrap-solution.solution-video .solution-bg {
    background-image: url(img/home/solution/video/bg.jpg)
}

.mod-wrap-solution.solution-o2o .solution-bg {
    background-image: url(img/home/solution/o2o/bg.jpg)
}

.mod-wrap-solution.solution-wechat .solution-bg {
    background-image: url(img/home/solution/wechat/bg.jpg)
}

.mod-wrap-solution.solution-tourism .solution-bg {
    background-image: url(img/home/solution/tourism/bg.jpg);
}

.mod-wrap-solution.solution-website .solution-bg {
    background-image: url(../img/bg.jpg);
}
.mod-wrap-three.solution-website .solution-bg {
    background-image: url(../img/bg2.png);
}
.mod-wrap-three{height: 551px;}

.mod-wrap-solution.solution-iot .solution-bg {
    background-image: url(img/home/solution/iot/bg.jpg)
}

.mod-wrap-solution .mod-inner {
    position: relative;
    z-index: 2
}

.mod-wrap-solution .mod-title {
    color: #fff
}

.mod-wrap-solution .mod-content {
    color: #fff;
    height: 390px
}

.mod-wrap-solution .qc-unit-4-24 {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255,255,255,.3)
}

.mod-wrap-solution .qc-unit-4-24 .tab-item a {
    font-size: 18px;
    color: #fff;
    display: inline-block;
    width: 77%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    transition: .2s ease background-color
}

.mod-wrap-solution .qc-unit-4-24 .tab-item a:hover {
    color: #008bff
}

.mod-wrap-solution .qc-unit-4-24 .tab-item.item-selected a,.mod-wrap-solution .qc-unit-4-24 .tab-item.item-selected a:hover {
    background-color: #2277da;
    color: #fff
}

.mod-wrap-solution .solution-details {
    height: 100%;
    width:100%;
}

.mod-wrap-solution .solution-details .solution-item {
}

.mod-wrap-solution .solution-details .user-list {
    margin-top: 40px;
    margin-bottom: 60px;
    white-space: nowrap
}

.mod-wrap-solution .solution-details .user-list li {
    display: inline-block;
    width: 175px;
    height: 175px;
    background-color: #fff;
    background: rgba(255,255,255,.3);
    text-align: center;
    margin: 0 30px;
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,.2);
    box-sizing: border-box;
}
.mod-wrap-solution .solution-details .user-list li a img{
    padding-top: 17px;
}
.mod-wrap-solution .solution-details .user-list li.last {
    margin-right: 0
}

.mod-wrap-solution .solution-details .user-list li a {
    display: block;
    height: 100%;
    cursor: pointer
}

.mod-wrap-solution .solution-details .user-list li a:before {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0
}

.mod-wrap-solution .solution-details .user-list li:hover {
    background: rgba(255,255,255,.8)
}

.mod-wrap-solution .solution-details .user-list li.no-detail:hover {
    cursor: default;
    background: rgba(255,255,255,.3)
}

.mod-wrap-solution .solution-details .user-list li.no-detail a:hover {
    cursor: default
}

.mod-wrap-solution .solution-details .user-list .user-img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%
}

.mod-wrap-solution .solution-details .vertical-text {
    width: 75%
}

.mod-wrap-solution .solution-details .vertical-text .solution-icon {
    width: 28px;
    height: 23px
}

.mod-wrap-solution .solution-details .vertical-text .qc-btn {
    margin-top: 30px;
    border-color: rgba(255,255,255,.4);
    width: 70px;
    height: 32px;
    line-height: 32px
}

.mod-wrap-solution .solution-details .vertical-text .qc-btn:active,.mod-wrap-solution .solution-details .vertical-text .qc-btn:focus,.mod-wrap-solution .solution-details .vertical-text .qc-btn:hover {
    border-color: #2277da
}

.mod-wrap-data {
    padding: 0;
    position: relative
}

.mod-wrap-data .mod-inner {
    position: relative;
    overflow: hidden
}

.mod-wrap-data .mod-title {
    padding-top: 95px
}

.mod-wrap-data .mod-content {
    margin-top: 8.4%;
    overflow: hidden
}

.mod-wrap-data .merit-item {
    margin-bottom: 44px
}

.mod-wrap-data .merit-item.data-item-3 {
    margin-bottom: 130px
}

.mod-wrap-data .merit-item span {
    display: block;
    width: 164px;
    height: 96px
}

.mod-wrap-data .merit-item .map-img-1 {
    background-image: url(img/home/map-1.png)
}

.mod-wrap-data .merit-item .map-img-2 {
    background-image: url(img/home/map-2.png)
}

.mod-wrap-data .merit-item .map-img-3 {
    background-image: url(img/home/map-3.png)
}

.mod-wrap-data .map {
    max-width: 80%;
    position: absolute;
    top: 25px;
    right: 0;
    overflow: hidden;
    font-size: 0;
    text-align: right;
    pointer-events: none;
    width: 100%;
    height: 100%
}

.mod-wrap-data .map .map-img {
    background-image: url(img/home/earth.png);
    width: 100%;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    background-size: cover
}

.mod-wrap-data .map:before {
    display: inline-block;
    content: "";
    height: 100%;
    width: 0;
    font-size: 0;
    vertical-align: middle
}

.mod-wrap-data .map-text {
    position: absolute;
    bottom: 130px;
    left: 70px;
    font-size: 14px;
    color: #333;
    line-height: 44px
}

.mod-wrap-data .mod-title .tc-btn {
    color: #333;
    border: 1px solid #333
}

.mod-wrap-data .map-text .icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: -5px;
    margin-right: 15px
}

.mod-wrap-data .map-text .icon-1 {
    background-image: url(../img/index-201610141724.png);
    background-position: -252px -122px
}

.mod-wrap-data .map-text .icon-2 {
    background-image: url(../img/index-201610141724.png);
    background-position: -129px -158px
}

.mod-wrap-data .qc-btn {
    border-color: #333;
    color: #333
}

.mod-wrap-data .qc-btn:hover {
    border-color: #2277da;
    color: #fff
}

.mod-wrap-dynamic {
    background-image: url(img/home/dynamic-bg.jpg);
    background-color: #02a2fa;
    background-position: top center;
    background-repeat: no-repeat;
    height: 130px;
    padding: 0
}

.mod-wrap-dynamic .mod-inner {
    white-space: nowrap
}

.mod-wrap-dynamic .text {
    font-size: 24px;
    color: #fff;
    line-height: 130px;
    display: inline-block;
    vertical-align: top;
    width: 30.5%;
    text-align: left
}

.mod-wrap-dynamic .ct-data {
    display: block;
    zoom: 1
}

.mod-wrap-dynamic .data {
    font-family: qcloud-num-thin,'helvetica neue','hiragino sans gb',tahoma,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    line-height: 130px;
    vertical-align: top;
    width: 69.5%;
    text-align: right
}

.mod-wrap-dynamic .data span {
    font-size: 70px;
    letter-spacing: .3em
}

.mod-wrap-service {
    background-image: url(img/home/mod-bg.png);
    background-position: top center;
    background-repeat: no-repeat
}

.mod-wrap-service .unit-box {
    background-color: #fff;
    text-align: center;
    display: block;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.mod-wrap-service .unit-box:hover {
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,.1);
    box-shadow: 0 3px 20px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0)
}

.mod-wrap-service .vertical-text {
    padding: 25px 0
}

.mod-wrap-service .vertical-text .title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px
}

.mod-wrap-service .vertical-text .des-text {
    color: #666;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px
}

.mod-wrap-service .service-img {
    display: block;
    margin: 0 auto 10px;
    width: 144px;
    height: 100px
}

.mod-wrap-free {
    background-image: url(img/home/free-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 270px;
    height: 530px;
    background-size: cover
}

.mod-wrap-free .mod-title {
    color: #fff
}

.mod-wrap-service .tc-btn-1 {
    margin-left: 10px
}

.mod-wrap-news {
    background-image: url(img/home/mod-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 438px
}

.mod-wrap-news .mod-content {
    margin-top: 0
}

.mod-wrap-news .mod-title {
    margin-bottom: 10px
}

.mod-wrap-news .mod-title .title {
    display: inline-block
}

.mod-wrap-news .mod-title .sub-tab {
    display: inline-block;
    margin-left: 20px
}

.mod-wrap-news .mod-title .sub-tab .sub-text {
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px
}

.mod-wrap-news .mod-title .sub-tab .sub-text a {
    font-size: 18px;
    color: #333;
    padding-bottom: 5px
}

.mod-wrap-news .mod-title .sub-tab .sub-text-selected a {
    color: #2277da;
    border-bottom: 2px solid #2277da
}

.mod-wrap-news .unit-box .news-list {
    width: 50%;
    display: inline-block
}

.mod-wrap-news .unit-box .news-list .news-item {
    font-size: 14px;
    color: #333;
    line-height: 50px
}

.mod-wrap-news .unit-box .news-list .text {
    max-width: 66%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis
}

.mod-wrap-news .unit-box .news-list .news-item .date {
    color: #666;
    display: inline-block;
    vertical-align: middle
}

.mod-wrap-news .unit-box .news-list .news-item .stick {
    color: #999;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle
}

.mod-wrap-news .unit-box .news-list .news-item:hover,.mod-wrap-news .unit-box .news-list .news-item:hover .date,.mod-wrap-news .unit-box .news-list .news-item:hover .stick {
    color: #2277da
}

.mod-wrap-news .unit-box .news-list .news-item .label {
    background-color: #fc5900;
    color: #fff;
    font-size: 12px;
    padding: 1px 8px;
    line-height: 16px;
    margin-left: 5px
}

.mod-wrap-news .ad-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px
}

.mod-wrap-news .text-line {
    margin-top: 15px
}

.mod-wrap-news .text-line.m-text {
    display: none
}

.mod-wrap-news .links {
    font-size: 14px;
    color: #2277da
}

.mod-wrap-news .links:hover {
    text-decoration: underline
}

.mod-wrap-news .pagination {
    font-size: 0;
    float: right;
    margin-top: 10px
}

.mod-wrap-news .btn-page {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    width: 38px;
    border: 1px solid #666;
    border-radius: 3px;
    text-align: center;
    background-color: #fcfcfc;
    cursor: pointer;
    font-size: 0 !important
}

.mod-wrap-news .pagination .page-prev {
    margin-right: 10px
}

.mod-wrap-news .btn-page .icon-page-prev {
    display: inline-block;
    width: 9px;
    height: 16px;
    vertical-align: middle;
    background-image: url(../img/index-201610141724.png);
    background-position: -173px -182px
}

.mod-wrap-news .btn-page .icon-page-next {
    display: inline-block;
    width: 9px;
    height: 16px;
    vertical-align: middle;
    background-image: url(../img/index-201610141724.png);
    background-position: -162px -182px
}

.mod-wrap-news .btn-page:hover {
    background-color: #2277da;
    border: 1px solid #2277da
}

.mod-wrap-news .btn-page:focus {
    background-color: #2277da;
    border: 1px solid #2277da;
    outline: 0
}

.mod-wrap-news .btn-page:focus .icon-page-prev,.mod-wrap-news .btn-page:hover .icon-page-prev {
    background-image: url(../img/index-201610141724.png);
    background-position: -151px -182px
}

.mod-wrap-news .btn-page:focus .icon-page-next,.mod-wrap-news .btn-page:hover .icon-page-next {
    background-image: url(../img/index-201610141724.png);
    background-position: -140px -182px
}

.mod-wrap-news .btn-page-disabled,.mod-wrap-news .btn-page-disabled:focus,.mod-wrap-news .btn-page-disabled:hover {
    background-color: #f6f6f6;
    border-color: #bcbcbc;
    cursor: default
}

.mod-wrap-news .btn-page-disabled .icon-page-prev,.mod-wrap-news .btn-page-disabled:focus .icon-page-prev,.mod-wrap-news .btn-page-disabled:hover .icon-page-prev {
    background-image: url(../img/index-201610141724.png);
    background-position: -129px -182px
}

.mod-wrap-news .btn-page-disabled .icon-page-next,.mod-wrap-news .btn-page-disabled:focus .icon-page-next,.mod-wrap-news .btn-page-disabled:hover .icon-page-next {
    background-image: url(../img/index-201610141724.png);
    background-position: -184px -182px
}

.mod-wrap-our-service {
    background-color: #fff;
    padding: 40px 0
}

.mod-wrap-our-service .d-tbc-first,.mod-wrap-our-service .d-tbc-last {
    width: 17%
}

.service-item {
    border-left: 1px solid #DCDDDE;
    height: 80px;
    font-size: 14px;
    text-align: center;
    display: block
}

.mod-wrap-our-service .d-tbc:first-child .service-item {
    border-left: 0
}

.service-item .term {
    display: inline-block;
    height: 77px;
    max-width: 90%
}

.service-item .term-1 {
    width: 116px;
    background-image: url(../img/index-201610141724.png);
    background-position: -134px -79px
}

.service-item .term-2 {
    width: 133px;
    background-image: url(../img/index-201610141724.png);
    background-position: -145px 0px
}

.service-item .term-3 {
    width: 103px;
    background-image: url(../img/index-201610141724.png);
    background-position: 0px -158px
}

.service-item .term-4 {
    width: 132px;
    background-image: url(../img/index-201610141724.png);
    background-position: 0px -79px
}

.service-item .term-5 {
    width: 143px;
    background-image: url(../img/index-201610141724.png);
    background-position: 0px 0px
}

.first-service-item {
    text-align: left
}

.last-service-item {
    text-align: right
}

.mod-wrap-our-service .d-tbc-first {
    padding-left: 1%
}

.mod-wrap-our-service .d-tbc-last {
    padding-right: 1%
}

.head-light-tips {
    background-color: #fffce2
}

.head-light-tips-inner {
    min-height: 25px;
    line-height: 25px;
    min-width: 320px;
    max-width: 1200px;
    color: #f87831;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px
}

.head-light-tips-close,.head-light-tips-icon,.head-light-tips-inner span {
    display: inline-block;
    vertical-align: top
}

.head-light-tips-inner span {
    max-width: 80%
}

.head-light-tips-icon {
    margin-top: 4px;
    width: 16px;
    height: 16px;
    background-image: url(../img/index-201610141724.png);
    margin-right: 7px;
    background-position: -153px -158px
}

.head-light-tips-close {
    width: 13px;
    height: 13px;
    background-image: url(../img/index-201610141724.png);
    position: absolute;
    right: 4px;
    top: 13px;
    background-position: -171px -158px
}

.mod-wrap-certification .mod-content {
    margin-top: 55px
}

.mod-wrap-certification .ct-box {
    border: 1px solid #dbdbdb;
    display: block;
    height: 200px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.mod-wrap-certification .ct-box:hover {
    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,.1);
    box-shadow: 0 3px 20px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0)
}

.mod-wrap-certification .vertical-text {
    text-align: center;
    padding-top: 30px
}

.mod-wrap-certification .vertical-text .ct-img {
    display: block;
    margin: 0 auto 15px;
    max-width: 100%;
    height: auto
}

.mod-wrap-certification .vertical-text .title {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px
}

.mod-wrap-certification .vertical-text .des-text {
    color: #666;
    font-size: 14px
}

.mod-wrap-certification .mask {
    width: 100%;
    height: 207px;
    position: relative;
    overflow: hidden
}

.mod-wrap-certification .certification-item {
    margin-bottom: 20px
}

.mod-wrap-certification .section-slide-left,.mod-wrap-certification .section-slide-right {
    display: inline-block;
    position: absolute;
    top: 275px;
    background-color: #c2c2c2;
    width: 26px;
    height: 60px
}

.mod-wrap-certification .section-slide-left.disabled,.mod-wrap-certification .section-slide-right.disabled {
    background-color: #e6e6e6
}

.mod-wrap-certification .section-slide-left:hover,.mod-wrap-certification .section-slide-right:hover {
    background-color: #adadad
}

.mod-wrap-certification .section-slide-left.disabled:hover,.mod-wrap-certification .section-slide-right.disabled:hover {
    background-color: #e6e6e6;
    cursor: default
}

.mod-wrap-certification .section-slide-left {
    left: 10px
}

.mod-wrap-certification .section-slide-right {
    right: 10px
}

.mod-wrap-certification .section-slide-left:before,.mod-wrap-certification .section-slide-right:before {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0
}

.mod-wrap-certification .section-slide-left .icon,.mod-wrap-certification .section-slide-right .icon {
    display: inline-block;
    width: 12px;
    height: 21px;
    vertical-align: middle;
    margin-left: 7px;
    background-repeat: no-repeat
}

.mod-wrap-certification .section-slide-left .icon {
    background-image: url(../img/index-201610141724.png);
    background-position: -105px -201px
}

.mod-wrap-certification .section-slide-right .icon {
    background-image: url(../img/index-201610141724.png);
    background-position: -119px -201px
}

.mod-wrap-certification .carousel-indicators {
    width: 100%;
    text-align: center;
    margin-top: 20px
}

.mod-wrap-certification .carousel-indicators li {
    display: inline-block
}

.mod-wrap-certification .carousel-indicators .dot {
    display: inline-block;
    padding: 10px 5px
}

.mod-wrap-certification .carousel-indicators .dot i {
    width: 9px;
    height: 9px;
    background-color: #d6d6d6;
    border-radius: 50%;
    display: inline-block
}

.mod-wrap-certification .carousel-indicators li.active .dot i {
    background-color: #2277da
}

.mod-wrap-certification .ct-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px;
    padding-top: 5px
}

.qc-navigation {
    min-width: 320px
}

.qc-navigation-mobile {
    position: absolute
}

body.ie8 .mod-wrap-dynamic .data span {
    font-size: 55px
}

body.ie8 .mod-wrap-service .vertical-text .des-text {
    font-size: 12px
}

body.ie8 .mod-wrap-solution .solution-details .user-list li {
    background-color: #969dab;
    border-color: #969aaa
}

/*@media screen and (min-width:769px) and (max-width:1199px) {
    .body,.head-light-tips,.mod-hero .hero-inner,.mod-inner,.mod-wrap {
        min-width: 1000px
    }

    .head-light-tips-inner {
        margin-right: 30px;
        margin-left: 30px
    }

    .mod-wrap-data .map {
        top: 12%
    }

    .mod-wrap-dynamic .data span {
        font-size: 44px
    }

    .mod-wrap-dynamic .text {
        font-size: 20px
    }

    .mod-wrap-service .vertical-text {
        height: 210px
    }
}

@media screen and (max-width:1000px) {
    .mod-wrap-our-service .d-tbc-last {
        width: 21%
    }
}

@media screen and (max-width:768px) {
    .body,.mod-inner {
        min-width: 320px
    }

    .ct-slot {
        margin-right: 30px;
        margin-left: 30px
    }

    .qc-grids.with-slot {
        margin-right: 20px;
        margin-left: 20px
    }

    .mod-wrap .mod-content {
        margin-top: 40px
    }

    .mod-hero .hero-inner {
        min-width: 320px
    }

    .qc-unit-md-1-2 {
        width: 50%
    }

    .mod-wrap .mod-title .title {
        font-size: 26px
    }

    .mod-wrap-certification,.mod-wrap-data .mod-title,.mod-wrap.mod-wrap-free,.mod-wrap.mod-wrap-news,.mod-wrap.mod-wrap-product,.mod-wrap.mod-wrap-service,.mod-wrap.mod-wrap-solution {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .mod-wrap .mod-title .des-text {
        font-size: 16px
    }

    .mod-hero .hero-img {
        height: 300px
    }

    .mod-hero .hero-img .img-item {
        background-size: cover
    }

    .mod-hero .hero-text .hero-ct h2 {
        font-size: 30px
    }

    .mod-hero .hero-text .hero-ct .des-text {
        font-size: 16px;
        line-height: 26px
    }

    .mod-hero .hero-text .hero-btn {
        height: 34px;
        line-height: 34px;
        font-size: 14px
    }

    .mod-activity,.mod-hero .hero-handle {
        display: none
    }

    .mod-activity .activity-list {
        padding: 15px
    }

    .mod-activity .activity-list li {
        width: 50%;
        padding-top: 0;
        height: 110px
    }

    .mod-activity .activity-list li:after {
        top: 15px
    }

    .mod-activity .activity-list li:nth-child(3):after {
        border: 0
    }

    .mod-wrap-product .mod-content {
        display: none
    }

    .mod-wrap-product .mobile-pt {
        display: block
    }

    .mod-wrap-data .mod-title {
        padding-bottom: 45px
    }

    .mod-wrap-data .mod-content {
        margin-top: 0;
        text-align: center
    }

    .mod-wrap-data .mod-content ul {
        font-size: 0
    }

    .mod-wrap-data .merit-item {
        display: inline-block;
        vertical-align: top;
        width: 22%;
        margin-left: 4%;
        margin-right: 4%
    }

    .mod-wrap-data .merit-item span {
        margin: 0 auto;
        max-width: 90%;
        background-size: contain;
        background-repeat: no-repeat
    }

    .mod-wrap-data .merit-item.data-item-3 {
        margin-bottom: 0
    }

    .mod-wrap-data .map {
        position: relative;
        max-width: 100%;
        width: 100%;
        background-size: cover;
        margin-top: -235px;
        height: 362px;
        overflow: hidden
    }

    .mod-wrap-dynamic .data span {
        font-size: 36px
    }

    .mod-wrap-dynamic .data,.mod-wrap-dynamic .text {
        display: block;
        line-height: 65px;
        width: 100%;
        text-align: center
    }

    .mod-wrap-dynamic .text {
        padding-top: 5px
    }

    .mod-wrap-dynamic .data {
        line-height: 40px;
        font-size: 20px
    }

    .mod-wrap-free {
        height: 300px
    }

    .mod-wrap-news {
        height: auto;
        background-repeat: repeat-y
    }

    .mod-wrap-news .mod-content {
        margin-top: 0
    }

    .mod-wrap-news .mod-content .qc-unit-16-24 {
        margin-bottom: 40px
    }

    .mod-wrap-news .unit-box .news-list {
        width: 100%
    }

    .mod-wrap-news .unit-box .news-list:nth-child(2) {
        display: none
    }

    .mod-wrap-news .mod-title .sub-tab {
        display: block;
        margin-left: 0
    }

    .mod-wrap-news .mod-title .sub-tab .sub-text {
        margin-left: 0;
        margin-right: 5%
    }

    .mod-wrap-news .pagination {
        display: none
    }

    .mod-wrap-news .text-line.m-text {
        display: block
    }

    .mod-wrap-our-service {
        padding-top: 0;
        padding-bottom: 0;
        border-top: 1px solid #eee
    }

    .mod-wrap-our-service .d-tbc {
        display: inline-block;
        width: 25%;
        padding-top: 25px;
        padding-bottom: 25px
    }

    .mod-wrap-our-service .d-tbc:nth-child(3) {
        display: none
    }

    .mod-wrap-our-service .first-service-item,.mod-wrap-our-service .last-service-item {
        text-align: center
    }

    .mod-wrap-our-service .service-item .sr-only {
        position: relative !important;
        height: auto !important;
        width: auto !important;
        color: #888;
        font-size: 20px;
        display: block
    }

    .mod-wrap-our-service .service-item .sr-only.t-1 {
        font-size: 36px
    }

    .mod-wrap-our-service .service-item .term {
        background-image: none;
        display: none
    }

    .mod-wrap-our-service .d-tbc-first {
        padding-left: 0
    }

    .mod-wrap-our-service .d-tbc-last {
        padding-right: 0
    }

    .mod-wrap-service {
        display: none
    }

    .mod-wrap-certification .ct-box {
        border: none;
        height: auto
    }

    .mod-wrap-certification .ct-box:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
        transform: none;
        -webkit-transform: none
    }

    .mod-wrap-certification .carousel-indicators,.mod-wrap-certification .section-slide-left,.mod-wrap-certification .section-slide-right,.mod-wrap-certification .vertical-text .des-text {
        display: none
    }

    .mod-wrap-certification .mask {
        overflow: auto;
        height: auto
    }

    .mod-wrap-certification .vertical-text {
        padding-top: 0
    }

    .mod-wrap-certification .ct-list {
        position: static;
        width: auto
    }

    .mod-wrap-certification .certification-item {
        width: 25% !important
    }
}

@media screen and (max-width:744px) {
    .mod-wrap-news .qc-unit-sm-1-1,.mod-wrap-solution .solution-details .vertical-text {
        width: 100%
    }

    .mod-wrap.mod-wrap-news {
        padding-bottom: 40px
    }
}

@media screen and (max-width:644px) {
    .mod-hero .hero-text .hero-ct h2 {
        font-size: 24px
    }

    .mod-hero .hero-text .hero-ct .des-text {
        font-size: 14px;
        line-height: 22px
    }

    .mod-wrap-solution .side-nav .side-nav-inner {
        position: relative;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%
    }

    .mod-wrap-solution .qc-unit-4-24 {
        border-right: none
    }

    .mod-wrap-solution .qc-unit-4-24 .tab-item a {
        width: 100%;
        font-size: 16px
    }

    .mod-wrap-solution .side-nav .tab-item.item-selected a {
        font-size: 16px
    }

    .mod-wrap-solution .solution-details .user-list li {
        margin-right: 3%;
        margin-bottom: 4%
    }
}

@media screen and (max-width:550px) {
    .qc-unit-sm-1-1 {
        width: 100%
    }

    .mod-wrap-solution .side-nav {
        width: 21.5%
    }

    .mod-wrap-solution .solution-details {
        width: 78.5%
    }

    .mod-wrap-solution .solution-details .user-list {
        margin-top: 0;
        overflow: hidden;
        margin-bottom: 20px
    }

    .mod-wrap-solution .solution-details .user-list li {
        width: 42%;
        float: left;
        margin-right: 0;
        margin-bottom: 8%;
        margin-left: 8%
    }

    .mod-wrap-solution .solution-details .vertical-text .des-text,.mod-wrap-solution .vertical-text .title {
        display: none
    }

    .mod-wrap-solution .solution-details .vertical-text .qc-btn {
        margin-left: 8%;
        margin-top: 0;
        width: 180px;
        height: 45px;
        line-height: 45px;
        font-size: 18px
    }

    .mod-activity .activity-list {
        padding: 30px
    }

    .mod-activity .activity-list li {
        height: 195px;
        padding: 15px 0 0
    }

    .mod-activity .activity-list li * {
        -webkit-user-select: none;
        user-select: none
    }

    .mod-activity .activity-list li a {
        position: relative;
        z-index: 2;
        -webkit-tap-highlight-color: transparent
    }

    .mod-activity .activity-list li .advertising-icon {
        margin: 0 auto
    }

    .mod-activity .activity-list li .advertising-text {
        text-align: center;
        margin: 0;
        padding: 10px 0 0;
        display: block;
        max-width: 100%
    }

    .advertising-icon {
        display: block;
        margin: 0 auto
    }

    .mod-activity .activity-list li:after {
        display: none
    }

    .mod-activity .activity-list li:first-child:after,.mod-activity .activity-list li:last-child:after {
        display: block;
        content: '';
        border: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1
    }

    .mod-activity .activity-list li:first-child:after {
        border-right: #e2e2e2 1px solid;
        border-bottom: #e2e2e2 1px solid
    }

    .mod-activity .activity-list li:last-child:after {
        border-left: #e2e2e2 1px solid;
        border-top: #e2e2e2 1px solid
    }

    .mod-activity .activity-list li .advertising-text .advertising-icon-hot {
        position: absolute;
        top: 0;
        left: 14%;
        margin-left: 0;
        margin-top: 0
    }
}

@media screen and (max-width:500px) {
    .mod-hero .hero-ct {
        max-width: 100%;
        bottom: 34%
    }

    .mod-hero .hero-text .hero-btn {
        bottom: 18%
    }

    .mod-wrap.mod-wrap-news {
        background-color: #fff;
        background-image: none
    }

    .mod-wrap-our-service .service-item {
        height: auto
    }

    .mod-wrap-our-service .service-item .sr-only {
        font-size: 16px
    }

    .mod-wrap-our-service .service-item .sr-only.t-1 {
        font-size: 20px
    }
}

@media screen and (max-width:414px) {
    .mod-wrap .mod-content {
        margin-top: 30px
    }

    .mod-wrap .mod-title {
        text-align: center
    }

    .mod-wrap .mod-title .des-text {
        text-align: left
    }

    .mod-wrap .mod-title .qc-btn {
        margin: 30px auto 0
    }

    .mod-hero:hover .hero-handle {
        display: none
    }

    .mod-hero .hero-img {
        height: 375px
    }

    .mod-hero .hero-img .img-item {
        background-image: url(img/home/responsive/m-banner-sample.jpg)
    }

    .mod-hero .hero-ct,.mod-hero .hero-text .hero-btn {
        display: none
    }

    .mod-hero .hero-ct-mobile {
        display: block
    }

    .mod-wrap.mod-wrap-solution {
        padding-bottom: 0;
        height: 736px
    }

    .mod-wrap-solution .mod-content {
        position: relative
    }

    .mod-wrap-solution .solution-details .user-list {
        overflow: hidden;
        margin-bottom: 0
    }

    .mod-wrap-solution .solution-details .vertical-text .qc-btn {
        padding: 0;
        width: 92%
    }

    .mod-wrap-solution .side-nav .tab-item {
        margin-bottom: 15px
    }

    .mod-wrap-solution .side-nav .tab-item a {
        height: 30px;
        line-height: 30px
    }

    .mod-wrap-solution.solution-game .solution-bg {
        background-image: url(img/home/responsive/m-game.jpg)
    }

    .mod-wrap-solution.solution-medical .solution-bg {
        background-image: url(img/home/responsive/m-medical.jpg)
    }

    .mod-wrap-solution.solution-finance .solution-bg {
        background-image: url(img/home/responsive/m-finance.jpg)
    }

    .mod-wrap-solution.solution-e-commerce .solution-bg {
        background-image: url(img/home/responsive/m-e-commerce.jpg)
    }

    .mod-wrap-solution.solution-video .solution-bg {
        background-image: url(img/home/responsive/m-video.jpg)
    }

    .mod-wrap-solution.solution-o2o .solution-bg {
        background-image: url(img/home/responsive/m-o2o.jpg)
    }

    .mod-wrap-solution.solution-wechat .solution-bg {
        background-image: url(img/home/responsive/m-wechat.jpg)
    }

    .mod-wrap-solution.solution-tourism .solution-bg {
        background-image: url(img/home/responsive/m-trip.jpg)
    }

    .mod-wrap-solution.solution-website .solution-bg {
        background-image: url(img/home/responsive/m-build.jpg)
    }

    .mod-wrap-solution.solution-iot .solution-bg {
        background-image: url(img/home/responsive/m-smart.jpg)
    }

    .mod-wrap-data {
        background-image: url(img/home/responsive/m-earth.png);
        background-repeat: no-repeat;
        height: 736px;
        background-size: contain;
        background-position: 0 150px
    }

    .mod-wrap-data .mod-inner {
        height: 100%
    }

    .mod-wrap-data .map {
        display: none
    }

    .mod-wrap-data .merit-item {
        display: inline-block;
        margin-bottom: 0;
        width: 33.3%;
        margin-left: 0;
        margin-right: 0
    }

    .mod-wrap-data .mod-content {
        position: absolute;
        bottom: 20px
    }

    .mod-wrap-dynamic .text {
        font-size: 22px
    }

    .mod-wrap-dynamic .data {
        font-size: 16px
    }

    .mod-wrap-dynamic .data span {
        font-size: 30px
    }

    .mod-wrap.mod-wrap-free {
        background-image: url(img/home/responsive/m-free.jpg);
        height: 290px;
        background-size: cover;
        padding-bottom: 0;
        padding-top: 45px
    }

    .mod-wrap-news .mod-content {
        margin-top: 0
    }

    .mod-wrap-news .mod-title {
        margin-bottom: 0
    }

    .mod-wrap-news .mod-title .title {
        margin-bottom: 20px
    }

    .mod-wrap-news .mod-title .sub-tab {
        margin-bottom: 10px
    }

    .mod-wrap-news .unit-box .news-list .news-item {
        line-height: 35px
    }

    .mod-wrap-news .qc-unit-8-24 .unit-box a:last-child .ad-img {
        margin-bottom: 0
    }

    .mod-wrap-certification .vertical-text .title {
        font-size: 14px
    }

    .mod-wrap-certification .vertical-text .ct-img {
        margin-bottom: 10px
    }
}

@media screen and (max-width:375px) {
    .mod-wrap-news .mod-title .sub-tab .sub-text a {
        font-size: 14px
    }

    .mod-wrap-news .unit-box .news-list .text {
        max-width: 60%
    }

    .mod-wrap-dynamic .text {
        font-size: 16px
    }

    .mod-wrap-dynamic .data span {
        font-size: 24px
    }

    .mod-wrap-solution .side-nav {
        width: 25.5%
    }

    .mod-wrap-solution .solution-details {
        width: 74.5%
    }

    .mod-wrap-solution .solution-details .solution-item {
        padding-left: 0
    }

    .mod-wrap-data {
        height: 700px
    }

    .mod-wrap-our-service .service-item .sr-only {
        font-size: 14px
    }

    .mod-wrap-our-service .service-item .sr-only.t-1 {
        font-size: 18px
    }
}

@media screen and (max-width:320px) {
    .mod-hero .hero-ct-mobile h2 {
        font-size: 24px
    }

    .mod-wrap-data {
        height: 610px
    }

    .mod-wrap-data .mod-content {
        bottom: 0
    }
}

@media screen and (min-width:767px) and (max-width:1199px) {
    .qc-navigation,.qc-navigation .navigation-inner,.tc-footer {
        min-width: 1000px
    }
}

@media screen and (max-width:768px) {
    .mod-scroll-btn {
        display: none
    }

    .m-scroll-top {
        display: block
    }

    .head-light-tips,.qc-navigation {
        display: none
    }

    .qc-navigation-mobile {
        display: block
    }

    .tc-footer {
        min-width: 320px;
        padding-bottom: 40px
    }

    .tc-footer .tc-footer-columns {
        display: none
    }

    .tc-footer .column-certification,.tc-footer .column-follow {
        width: auto;
        margin-left: 10px;
        margin-right: 10px
    }

    .tc-footer .columns h3,.tc-footer .columns ul {
        padding-left: 30px
    }

    .tc-footer .column-certification .certification .ct-img img {
        max-width: 100%
    }

    .tc-footer .column-certification>h3 {
        padding-left: 0
    }
}

@media screen and (max-width:414px) {
    .tc-footer .columns,.tc-footer .tc-footer-copyright .department {
        display: none
    }

    .tc-footer .tc-footer-copyright .links .line-2 .slide {
        display: block
    }

    .tc-footer .tc-footer-copyright .department,.tc-footer .tc-footer-copyright .department a {
        font-size: 14px
    }
}*/

#MAXIM {
    content: "feu20161020151235"
}/*  |xGv00|9a7e57637c14a866530a8187879e718b */



 /* 2017-09-23  */
 .mod-wrap {
    padding: 80px 0;
    min-width: 320px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border:1px solid red;*/
}
.mod-inner {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto
}
.mod-wrap.bg-color-1 {
    background-color: #fff;
}
.mod-wrap .mod-title {
    color: #333;
    text-align: center;
}
.ct-slot {
    margin-left: 10px;
    margin-right: 10px
}
.mod-wrap .mod-title .title {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
        color:#303233;
}
.mode-solution{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.mod-wrap .mod-title .des-text {
    font-size: 18px;
    line-height: 1.5em;
    color:#868684;
}
.img_size{
	height: 50px;
	vertical-align: bottom;
}
.solution-flex{
	box-sizing: border-box;
	width: 280px;
	border:2px solid #f3f3f3;
	padding: 40px 20px;
	margin: 40px 10px 10px;
	
	
}
.solution-flex .title-img{
	text-align: center;
}
.solu-title{
	font-size: 18px;
	letter-spacing: 1px;
	padding: 15px 0;
	color: #303233;

}
.solu-text{
	/*border: 1px solid red;*/
	height: 100px;
	line-height: 24px;
	font-size: 12px;
	color: #9c9b9a;
	letter-spacing: 1px;
}
.solu-button{
	display: flex;
	justify-content: space-between;
	color: #0088ff;
	vertical-align: bottom;
}
.see-consu{
	box-sizing: border-box;
	width: 100px;
	text-align: center;
	line-height: 32px;
	border:1px solid #0088ff;
	border-radius: 20px;
	cursor: pointer; 
	color: #0088ff;
	text-decoration: none;
}
.see-consu:last-child{
	background-color: #e8f5ff;
}

.mode-entrance{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #f8fcff;
}
.ent_flex{
	box-sizing: border-box;
	width: 200px;
	padding: 30px 10px 0;
	
}
.ent_img_out{
	padding: 0 0 10px ;
}
.ent-img{
	border:1px solid #f3f3f3;
	width: 88px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	border-radius: 50%;
	margin: 0 auto;
}
.ent-text{
	/*border:1px solid red;*/
	text-align: center;
	padding: 10px 0px;
	color: #3f4040;
	font-size: 18px;
}

